<div class="container otp-validation-container">
    <div class="primary-color text-center mt-3"><h3>OTP Verification</h3></div>
    <div class="row justify-content-center mt-3">
        <div class="col">
            <form [formGroup]="otpValidationForm" (keyup.enter)="onSubmit()" class="container">
                <div class="d-flex justify-content-center">
                    <div>
                        <div class="row g-0 mb-3">
                            <h5 class="primary-color row m-0 justify-content-center">Enter OTP</h5>
                            <small class="text-secondary d-flex justify-content-center">We have sent an OTP on your email</small>
                        </div>
                        <ng-otp-input #ngOtpInput class="row justify-content-center" (onInputChange)="onOtpChange($event, otpInput)" [config]="{length:4, allowNumbersOnly: true }"></ng-otp-input>
                        
                    </div>
                    <input #otpInput hidden type="text" name="otp" id="otp" formControlName="otp">
                </div>
                <div class="">
                    <div>
                        
                        <div class="row mt-4">
                            <div class="col text-center">
                                <a mat-stroked-button color="accent" class="resend-otp" id="resendOTP" (click)="resendOTP()" [disabled]="!enableResendOTP">Resend OTP</a>
                                <div class="col" *ngIf="!enableResendOTP">
                                    <span class="text-start accent-color"> {{subscribeTimer}} seconds left</span>
                                </div>
                            </div>
                            
                            <div class="col">
                                <button mat-raised-button color="primary" 
                                type="button" 
                                class="btn otp-validation-button" 
                                id="validateOTP" 
                                [disabled]="otpInput.value.length < 4"
                                (click)="onSubmit()">
                                    Validate OTP</button>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </form>
            <div class="mt-2">
                
            </div>
        </div>
        <div class="row">
            <div class="col-12 mt-3">
                <app-validation-summary [serverErrors]="serverErrors"></app-validation-summary>
            </div>
        </div>

        
    </div>
</div>