.admin-container {
    min-height: calc(100vh - 84px);;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 0px;

    .content-wrapper {
        padding: 12px;
        margin: 0 auto;
    }
}