<nav-header></nav-header>
<mat-card class="magic-link-container vh-flex-center m-auto">
    <mat-card-title>
        <div class="primary-color text-center"><h4>Magic Link</h4></div>
    </mat-card-title>
    <mat-card-content>
        <div class="row">
            <div class="col">
                <div *ngIf="!showError">
                    Please wait while we validate you.
                </div>
                <div *ngIf="showError" class="alert alert-danger">
                    Something went wrong. Please go back to login page to continue.
                    <div class="row text-center">
                        <a id="login" href="/login"> Click here to log in. </a>
                    </div>
                </div>
            </div>
        </div>
    </mat-card-content>
</mat-card>