<div class="dashboard-wrapper">
    <div class="dashboard-title">
        <h4 class="primary-color">My humanest</h4>
    </div>
    <div>
        <a mat-button [routerLink]="['/client/calendar']" class="dashboard-section">Calendar</a>
        <a mat-button [routerLink]="['/client/groupevents']" class="dashboard-section">Group Events</a>
        <a mat-button [routerLink]="['/']" class="dashboard-section">Community</a>
        <a mat-button [routerLink]="['/client/schedule1on1']" class="dashboard-section">Schedule a 1:1 Session</a>
        <a mat-button [routerLink]="['/']" class="dashboard-section">View My Action plan</a>
    </div>
</div>