.dashboard-wrapper {
    max-width: 400px;
    margin: auto;
    
    .dashboard-title{
        font-weight: 700;
    }
    
    a {
        display: block;
        padding: 15px 30px;
        border: var(--primary-color) 1px solid;
        cursor: pointer;
        margin: 15px 0px;
        text-decoration: none;
    }
}