<div>
    <div>
        <p>Let’s face it, your mental health changes from moment to moment.</p>
        <p><em>Shouldn’t your solution?</em></p>
        <p>Your care, your way. When you want it.<br>
            One membership, unlimited mental health support.</p>
    </div>
    <div>
        <div class="mt-4 btn-block">
            <button mat-raised-button color="primary" routerLink="/register" type="button" id="getstarted" tabindex="1">Get Started</button>
        </div>
        <div class="mt-3 btn-block">
            <button mat-raised-button color="primary" routerLink="/login" id="login" tabindex="1">Log In</button>
        </div>
    </div>
</div>