<div class="registration-container">
    <div class="registration-title primary-color"><span>Create Account</span></div>
    <div class="row pb-4">
        <div class="col">
            <form [formGroup]="clientRegistrationForm" (keyup.enter)="onSubmit()">
                <div class="form-group row">
                    <mat-form-field appearance="outline" class="col">

                        <mat-label>Email</mat-label>
                        <input matInput type="email" name="emailAddress" id="emailAddress"
                        formControlName="emailAddress" autofocus>
                        <mat-hint>
                            <app-validation-message [control]="clientRegistrationForm.controls['emailAddress']" [propertyLabel]="'Email'">
                            </app-validation-message>
                        </mat-hint>

                    </mat-form-field>
                </div>                
                <div class="form-group row">
                    <mat-form-field appearance="outline" class="mb-4">

                        <mat-label>Code</mat-label>
                        <input matInput type="text" name="code" id="code" formControlName="code">
                        <mat-hint>
                            <div class="row registration-content primary-color">
                                <p>To get access to free services provided by one of our partners, enter yourcode.</p>
                            </div>
                        </mat-hint>

                    </mat-form-field>
                </div>
                <div class="form-group row">
                    <mat-form-field appearance="outline" class="col mt-1">

                        <mat-label>Password</mat-label>
                        <input matInput type="password" name="password" id="password" formControlName="password">
                        <mat-hint>
                            <app-validation-message [control]="clientRegistrationForm.controls['password']" [propertyLabel]="'Password'">
                            </app-validation-message>
                        </mat-hint>

                    </mat-form-field>
                </div>
                <div class="row">
                    <div class="col">
                        <app-validation-summary [serverErrors]="serverErrors"></app-validation-summary>
                    </div>
                </div>
            </form>
        </div>
        <div class="row">
            <div class="col registration-content terms primary-color">
                <p>By creating an account, you agree to our 
                    <a href="https://humanestcare.com/terms">Terms of Service</a>, 
                    <a href="https://humanestcare.com/privacy-policy">Privacy Policy</a>, 
                    <a href="https://humanestcare.com/participation-guidelines">Membership Terms</a>, and XXX.</p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <button mat-raised-button color="primary" type="button" id="createAccount" (click)="onSubmit()">Create Account</button>
            </div>
        </div>
    </div>
</div>