.registration-container{
    width: 300px;
    margin: auto;
}

.registration-title {
    font-size: 20px;
    margin: 32px 0 18px 0;
}

.registration-content{
    margin: auto;
    text-align: center;
    font-size: 12px;

    a{
        text-decoration: underline;
    }

    &.terms {
        max-width: 230px;
    }
}
