<div class="error-body warn-color" *ngIf="serverErrors && serverErrors.length > 0">
    <p class="text-center">Please correct the errors below and try again.</p>
    <ul>
        <li *ngFor="let errorMessage of serverErrors">
            {{errorMessage}}
        </li>
    </ul>
</div>