.week-view-container {
    padding: 12px;

    .date-info {
        display: flex;
        padding: 12px 0;

        &:first-child {
            margin-right: auto;
        }
    }

    
    .date-picker-trigger {
        line-height: 38px;
        min-width: unset!important;
        border-radius: 50%;
    }

    .week-view-header {
        header span {
            font-weight: 500;
            color: var(--primary-contrast);
            background: var( --primary-color);
        }

        .row .col {
            line-height: 48px;
        }

        .date-rows {

            .date-item {
                width: 48px;
                min-width: unset!important;
                padding: 0;
                height: 48px;
                margin: 0 auto;
                line-height: 46px;
                font-weight: 500;
            }
        }
    }
}