<section class="week-view-container">
    <header>
        <div class="date-info vh-flex-center">
            <span class="me-auto vh-flex-center">
                <h4 class="m-0">{{ activeDate | date: "MMM YYYY"}}</h4>
                <div class="ms-2">
                    <button mat-raised-button class="date-picker-trigger" (click)="picker.open()">
                        <mat-icon>event</mat-icon>
                    </button>
                    <span class="d-none">
                        <input matInput [matDatepicker]="picker" (dateChange)="onDateSelect($event.value)">
                        <mat-datepicker #picker touchUi="true"></mat-datepicker>
                    </span>
                </div>            
            </span>
            <span>
                <div class="btn-container d-inline">
                    <button mat-icon-button (click)="traverseDate(backwardTraverseInterval)">
                        <mat-icon>chevron_left</mat-icon>
                    </button>
                    <button mat-icon-button (click)="traverseDate(forwardTraverseInterval)">
                        <mat-icon>chevron_right</mat-icon>
                    </button>
                </div>
            </span>
        </div>
        <div class="week-view-header">
            <header class="row">
                <span class="col">S</span>
                <span class="col">M</span>
                <span class="col">T</span>
                <span class="col">W</span>
                <span class="col">T</span>
                <span class="col">F</span>
                <span class="col">S</span>
            </header>
            <div class="date-rows row mt-2">
                <span *ngFor="let date of dateRow" class="col p-0">
                    <button mat-raised-button class="date-item" [color]="isSameDate(date, activeDate) ? 'primary' : null"
                        (click)="onDateSelect(date)">
                        {{date | date: 'd'}}
                    </button>
                </span>
            </div>
        </div>
    </header>
</section>