.terms-item {
    max-width: 200px;
}

::ng-deep .copyx {
    display: none!important;
}

.addeventatc {
    position: relative;
}

::ng-deep .addeventatc_dropdown {
    position: fixed!important;
    z-index: 99999!important;
    top: calc(50% - 115px)!important;
    left: calc(50% - 126px)!important;
}