<div>
    <div *ngIf="!isConfirmed">
        <h5 class="primary-color">Confirm Your Session</h5>
        <div class="mt-3">
            <p class="m-0">You have chosen a therapy session with</p>
            <p class="mt-2 m-0 font-semi-bold">{{therapistName}}</p>
            <p class="m-0">at 
                <span class="font-semi-bold">{{eventTime}}</span>
                <span class="m-0 font-semi-bold">  {{eventTimezone}}</span>
            </p>
            
            <p class="m-0">on <span class="font-semi-bold">{{eventDay}}</span></p>
            <p class="m-0 font-semi-bold">{{eventDate | date: 'MMM dd, YYYY'}}</p>
        </div>
        <div>
            <p class="mt-4 m-auto terms-item">By clicking Confirm below, you agree to our
                <a class="primary-color" href="https://humanestcare.com/terms">Terms of Service</a>,
                <a class="primary-color" href="https://humanestcare.com/privacy-policy">Privacy Policy</a>.
            </p>
        </div>
        <div class="row mt-4">
            <div class="col">
                <button mat-raised-button color="primary" type="button" id="confirm"
                    (click)="onConfirmation()">Confirm</button>
            </div>
        </div>
    </div>
    <div *ngIf="isConfirmed">
        <h5 class="primary-color">Your Session is Confirmed</h5>
        <div class="mt-3">
            <p class="m-0">With</p>
            <p class="m-0 font-semi-bold">{{therapistName}}</p>
            <p class="m-0">at 
                <span class="font-semi-bold">{{eventTime}}</span>
                <span class="m-0 font-semi-bold">  {{eventTimezone}}</span>
            </p>
            
            <p class="m-0">on <span class="font-semi-bold">{{eventDay}}</span></p>
            <p class="m-0 font-semi-bold">{{eventDate | date: 'MMM dd, YYYY'}}</p>
        </div>
    </div>
    <div title="Add to Calendar" class="addeventatc mt-3" [hidden]="!isConfirmed">
        Add to Calendar
        <span class="start">{{eventDate | date: 'MM/dd/YYYY'}} {{eventTime}}</span>
        <span class="end">{{eventDate | date: 'MM/dd/YYYY'}} {{eventEndTime}}</span>
        <span class="timezone">{{eventTimezoneId}}</span>
        <span class="title">{{eventData?.name}}</span>
        <span class="description">{{eventData?.workOnThisSession}}</span>
    </div>
</div>