<div class="p-4 calendar-container">
    <div class="primary-color text-center">
        <h4>Create New Event</h4>
    </div>
    <div class="row g-0 w-100 justify-content-center admin-calendar">
        <form [formGroup]="eventTypeForm" class="admin-calendar-form row vh-flex-center">
            <div class="form-group col-md-6 d-flex">
                <mat-form-field appearance="outline" class="col mt-2">

                    <mat-label>Event Type</mat-label>
                    <mat-select formControlName="eventType" autofocus (selectionChange)="changeEventType($event)" #eventType>
                        <mat-option *ngFor="let eventType of eventTypes" [value]="eventType.id">
                            {{eventType.text}}
                        </mat-option>
                    </mat-select>
                    <mat-hint>
                        <app-validation-message [control]="eventTypeForm.controls['eventType']" [propertyLabel]="'Event Type'">
                        </app-validation-message>
                    </mat-hint>

                </mat-form-field>
            </div>
            <div class="form-group col-md-6 d-flex" *ngIf="showClientList">
                <mat-form-field appearance="outline" class="col mt-2">

                    <mat-label>Client</mat-label>
                    <input type="text"
                        matInput
                        [matAutocomplete]="client"
                        formControlName="client">
                    <mat-autocomplete #client="matAutocomplete">
                        <mat-option *ngFor="let clientItem of filteredOptionsClient | async" [value]="clientItem.value" [id]="clientItem.id"
                            (onSelectionChange)="setClient(clientItem.id)">
                            {{clientItem.value}}
                        </mat-option>
                    </mat-autocomplete>
                    <mat-hint>
                        <app-validation-message [control]="eventTypeForm.controls['client']" [propertyLabel]="'Client'">
                        </app-validation-message>
                    </mat-hint>

                </mat-form-field>
            </div>

            <div class="form-group col-md-6 d-flex">
                <mat-form-field appearance="outline" class="col mt-2">

                    <mat-label>Calendar For</mat-label>
                    <input type="text"
                        matInput
                        [matAutocomplete]="therapistAuto"
                        formControlName="therapist"
                        #therapist>
                    <mat-autocomplete #therapistAuto="matAutocomplete" (optionSelected)="populateStartTimeList()">
                        <mat-option *ngFor="let therapistItem of filteredOptionsTherapist | async" [value]="therapistItem.value" [id]="therapistItem.id"
                        (onSelectionChange)="setTherapist(therapistItem.id)">
                            {{therapistItem.value}}
                        </mat-option>
                    </mat-autocomplete>
                    <mat-hint>
                        <app-validation-message [control]="eventTypeForm.controls['therapist']" [propertyLabel]="'Calendar For'">
                        </app-validation-message>
                    </mat-hint>

                </mat-form-field>
            </div>
            
            <div class="form-group col-md-6 d-flex">
                <mat-form-field appearance="outline" class="col mt-2">

                    <mat-label>Time Zone</mat-label>
                    <input type="text"
                        matInput
                        [matAutocomplete]="auto"
                        formControlName="timeZone">
                    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="updateTimeZoneSelection($event.option.id)">
                        <mat-option *ngFor="let timeZone of filteredOptionsTimezone | async" [value]="timeZone.text" [id]="timeZone.id">
                            {{timeZone.text}}
                        </mat-option>
                    </mat-autocomplete>
                    <mat-hint>
                        <app-validation-message [control]="eventTypeForm.controls['timeZone']" [propertyLabel]="'Time Zone'">
                        </app-validation-message>
                    </mat-hint>

                </mat-form-field>
            </div>

            <div class="form-group col-md-6 d-flex">
                <mat-form-field appearance="outline" class="col mt-2">

                    <mat-label>Event Date</mat-label>
                    <input matInput [matDatepicker]="picker" name="eventDate" id="eventDate" formControlName="eventDate"
                        min="{{minDate | date:'yyyy-MM-dd'}}" (dateChange)="populateStartTimeList()"
                        [disabled]="!controlValue('therapist')">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                    <mat-hint>
                        <app-validation-message [control]="eventTypeForm.controls['eventDate']" [propertyLabel]="'Event Date'">
                        </app-validation-message>
                    </mat-hint>

                </mat-form-field>
            </div>
            <div class="form-group col-md-6 d-flex mb-auto">
                <mat-form-field appearance="outline" class="col mt-2">

                    <mat-label>Start Time</mat-label>
                    <mat-select formControlName="eventStartTime" (selectionChange)="populateEndTimeList()"
                        [disabled]="!controlValue('therapist') || !controlValue('eventDate')">
                        <mat-option *ngFor="let eventStartTime of eventStartTimeList" [value]="eventStartTime.value" 
                            [disabled]="!eventStartTime.isAvailable">
                        {{eventStartTime.text}}
                        <span class="option-subtext" *ngIf="eventStartTime.status">
                            {{ getEventTypeText(eventStartTime) }}
                        </span>
                        </mat-option>
                    </mat-select>
                    <mat-hint>
                        <span *ngIf="therapist.value && !eventStartTimeList.length">No slots are available</span>
                        <app-validation-message [control]="eventTypeForm.controls['eventStartTime']" [propertyLabel]="'Event Start Time'">
                        </app-validation-message>
                    </mat-hint>

                </mat-form-field>
            </div>
            <div class="form-group col-md-6 d-flex" *ngIf="!isSession1on1">
                <mat-form-field appearance="outline" class="col mt-2">

                    <mat-label>End Time</mat-label>
                    <mat-select formControlName="eventEndTime" 
                        [disabled]="!controlValue('therapist') || !controlValue('eventDate')">
                        <mat-option *ngFor="let eventEndTime of eventEndTimeList" [value]="eventEndTime.value">
                            {{eventEndTime.text}}
                        </mat-option>
                    </mat-select>
                    <mat-hint>
                        <app-validation-message [control]="eventTypeForm.controls['eventEndTime']" [propertyLabel]="'Event End Time'">
                        </app-validation-message>
                    </mat-hint>

                </mat-form-field>
            </div>
            <div class="form-group col-md-6 d-flex align-items-center recurring-container" *ngIf="!isSession1on1">
                <div class="col-auto mb-2">
                    <mat-checkbox class="ml-3" color="primary"
                        [(ngModel)]="showRecurringFrequency" id="recurringCheck" name="recurringCheck"
                        [ngModelOptions]="{standalone: true}">
                        Recurring
                    </mat-checkbox>
                </div>
                <div class="col" >
                    <mat-form-field appearance="legacy" class="w-100 ps-3 pe-2 recurring-select">

                        <mat-label></mat-label>
                        <mat-select formControlName="recurringType" (blur)="changeRecurringFrequency($event.target)"
                            (selectionChange)="changeRecurringFrequency($event.source)"
                            [disabled]="!showRecurringFrequency">
                            <mat-option *ngFor="let recurringType of recurringTypes" [value]="recurringType.id" 
                                (click)="showCustomDialogue(recurringType.text)">
                                {{recurringType.text}}
                            </mat-option>
                        </mat-select>
                        <mat-hint>
                            <app-validation-message [control]="eventTypeForm.controls['recurringType']" [propertyLabel]="'Recurring Occurrence'">
                            </app-validation-message>
                        </mat-hint>
    
                    </mat-form-field>
                </div>
            </div>
            
            <div class="form-group d-flex" [ngClass]="{ 'col-md-12' : eventType.value == 1, 'col-md-6': eventType.value != 1}">
                <mat-form-field appearance="outline" class="col mt-2">

                    <mat-label>Note to Client</mat-label>
                    <textarea matInput name="description" id="description" formControlName="description"
                        rows="4"></textarea>
                    <mat-hint>
                        <app-validation-message [control]="eventTypeForm.controls['description']" [propertyLabel]="'Note to Client'">
                        </app-validation-message>
                    </mat-hint>

                </mat-form-field>
            </div>

            <div class="row">
                <div class="col schedule-session-errors">
                    <app-validation-summary class="vh-flex-center mt-2" [serverErrors]="serverErrors"></app-validation-summary>
                </div>
            </div>

            <div class="form-group text-center mt-5 action-btns">
                <button mat-raised-button color="accent" type="button" id="cancel" (click)="goBack()">Cancel</button>
                <button mat-raised-button color="primary" type="button" id="save" (click)="onSubmit()">Save</button>
            </div>
        </form>
    </div>
</div>