::ng-deep app-calendar {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: auto;
    max-width: 900px;
}

.calendar-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    .recurring-container {
        min-height: 66px;
    }

    .mat-form-field {
        min-width: 245px;
    }

    .recurring-select {
        width: 208px!important;
        min-width: unset;
        width: 100%!important;
    }

    @media only screen and (max-width: 727px) {
        .form-group.col-md-6, .admin-calendar-form {
            padding: 0;
        }
    }
}

.day-list {
    display: inline-block;
    height: 30px;
    width: 30px;
    text-align: center;
    padding: 5px 0px;
    border-radius: 50%;
    cursor: pointer;
    margin: 0px 5px;
    background: lightgrey;
  }

  .active {
    background: #4D918E;
    color: #ffffff;
  }