<div>
    <div class="text-center">
        <h4 class="primary-color">Group Events</h4>
        <span *ngIf="!noRecords">Sign up for online events led by expert counselors</span>
    </div>
    <div class="row g-0 w-100 mt-3 justify-content-center">
        <mat-card class="col-md-4 mx-2 me-2 mt-3 border-primary-color" *ngFor="let event of eventList; let i = index">
            <mat-card-content class="vh-flex-center">
                <div class="img-wrapper">
                    <!-- <img src="{{data.imageUrl}}"/> -->
                    <img class="w-100" src="{{'https://picsum.photos/400/250?random=' + (i + 1)}}" alt="profile" />    
                </div>
                <div class="text-start mt-2">
                    <div class="font-bolder">
                        {{event.name}}
                    </div>
                    <div class="font-semi-bold">
                        {{event.displayStart}}
                    </div>
                    <div class="font-semi-bold">
                        {{event.duration}}
                    </div>
                    <div>
                        {{event.description}}
                    </div>
                </div>
                
                <div class="col">
                    <!-- <button mat-raised-button color="primary" (click)="onBooking(data.id)">Book with {{data.therapistName}}</button> -->
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>