<mat-card class="container login-container p-4 mb-2 primary-bg-opacity">
    <mat-card-title>
        <div class="primary-color text-center"><h4>Login</h4></div>
    </mat-card-title>
    <mat-card-content>
        <div class="row justify-content-center">
            <div class="col">
                <form [formGroup]="loginForm" (keyup.enter)="onSubmit()">
                    <div class="form-group row">
                        <mat-form-field appearance="outline" class="col mt-2">
    
                            <mat-label>Email</mat-label>
                            <input matInput type="email" name="emailAddress" id="emailAddress"
                                formControlName="emailAddress" autofocus>
                            <mat-hint>
                                <app-validation-message [control]="loginForm.controls['emailAddress']" [propertyLabel]="'Email'">
                                </app-validation-message>
                            </mat-hint>
    
                        </mat-form-field>
                    </div>
                    <div class="form-group row">
                        <mat-form-field appearance="outline" class="col mt-2">
    
                            <mat-label>Password</mat-label>
                            <input matInput type="password" name="password" id="password" formControlName="password">
                            <mat-hint>
                                <app-validation-message [control]="loginForm.controls['password']" [propertyLabel]="'Password'">
                                </app-validation-message>
                            </mat-hint>
    
                        </mat-form-field>
                    </div>
                </form>
            </div>
            <div class="row">
                <div class="col-12">
                    <app-validation-summary [serverErrors]="serverErrors"></app-validation-summary>
                </div>
            </div>
            <div class="row">
                <div class="col text-end mb-2 links">
                    <div class="primary-color"><a [routerLink]="['/resetpassword']" id="forgotPassword">Forgot password?</a></div>
                    <div class="mt-2 primary-color"><a href="javascript:;" (click)="getMagicLink()" id="magicLink">Email a Magic Link to Sign In</a></div>
                    <div class="mt-2 primary-color">Not registed yet?  <a href="javascript:;" routerLink="/register">Sign Up</a></div>
                </div>
            </div>
            <div class="d-flex justify-content-center mt-4 login-btn-container">
                <button mat-raised-button color="primary" type="button" id="login" (click)="onSubmit()">Login</button>
            </div>
        </div>
    </mat-card-content>
</mat-card>