::ng-deep login {
    display: flex;
    flex-direction: column;
}

.login-container {
    max-width: 400px;
    width: 400px;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    position: relative;

    .links {
        a {
            text-decoration: underline;
        }
    }
    .login-btn-container {
        button {
            width: 250px;
        }
    }
    .or-divider {
        position: relative;
        top: -10px;
        display: flex;
        justify-content: center;
        width: unset;
        background-color: var(--primary-contrast);
    }
}
