::ng-deep app-intake-form {
    .container {
        max-width: 900px;
    }
}

.checkbox-container {
    width: fit-content;
    margin: auto;

    .checkbox-input {
        width: fit-content;
    }
}

.container {
    .intake-readonly-view {
        div.row {
            margin: auto;
            width: fit-content;
            position: relative;

            h6 {
                text-align: end;
                width: 300px;
                margin: 0;
                line-height: inherit;
            }

            span {
                text-align: start;
                width: 400px;
            }

            .first-divider {
                position: absolute;
                width: calc(100% - 24px);
                top: -10px;
            }
        }
    }

    .edit-icon {
        transform: scaleX(-1);
    }
}

@media only screen and (max-width: 768px) {
    .im-18 {
        text-align: left!important;
    }
}

@media only screen and (max-width: 1000px) {
    .container .intake-readonly-view div.row {    
        h6 {
            width: 150px;
        }

        span {
            width: 300px;
        }
    }
}


@media only screen and (max-width: 500px) {
    .container  .intake-readonly-view div.row {    
        h6 {
            width: 115px;
        }

        span {
            width: 200px;
        }
    }
}

@media only screen and (max-width: 365px) {
    .container .intake-readonly-view div.row {
        span {
            width: 190px;
        }
    }
}
