<div *ngIf="!isConfirmation" class="container">
    <h4 class="primary-color">Intake Form</h4>
    <form [formGroup]="intakeForm" class="row">

        <div class="form-group col-md-12 text-start mt-2">
            <div class="checkbox-container">
                <div class="mb-3 mt-2 checkbox-input">

                    <mat-checkbox class="ml-3" color="primary"
                        id="crisisConsent" name="crisisConsent" formControlName="crisisConsent"
                        [(ngModel)]="isCrisisConsent">
                        I am not in crisis and do not currently have plans to hurt myself or others.
                    </mat-checkbox>
    
                    <app-validation-message [control]="intakeForm.controls['crisisConsent']"
                        [propertyLabel]="'Crisis Consent'">
                    </app-validation-message>
                </div>
                <div class="mb-4 checkbox-input">
    
                    <mat-checkbox class="ml-3" color="primary"
                        id="above18" name="above18" formControlName="above18"
                        [(ngModel)]="isAbove18">
                        I am over 18 years of age.
                    </mat-checkbox>
    
                    <app-validation-message [control]="intakeForm.controls['above18']"
                        [propertyLabel]="'Above 18 Consent'">
                    </app-validation-message>
                </div>
            </div>
        </div>

        <div class="form-group col-md-6 d-flex">
            <mat-form-field appearance="outline" class="col">
    
                <mat-label>Age</mat-label>
                <input matInput type="number" name="age" id="age" formControlName="age" min="18">
                <mat-hint>
                    <app-validation-message [control]="intakeForm.controls['age']" [propertyLabel]="'Age'">
                    </app-validation-message>
                </mat-hint>

            </mat-form-field>
        </div>
        
        <div class="form-group col-md-6 d-flex">
            <mat-form-field appearance="outline" class="col">

                <mat-label>Gender</mat-label>
                <mat-select formControlName="gender">
                    <mat-option *ngFor="let gender of genders" [value]="gender.id">
                        {{gender.text}}
                    </mat-option>
                </mat-select>
                <mat-hint>
                    <app-validation-message [control]="intakeForm.controls['gender']" [propertyLabel]="'Gender'">
                    </app-validation-message>
                </mat-hint>

            </mat-form-field>
        </div>

        <div class="form-group col-md-6 d-flex">
            <mat-form-field appearance="outline" class="col mb-1">
                <textarea matInput type="text" name="address" id="address" formControlName="address" row="5"
                    placeholder="Address where you will be at the time of your appointment *"></textarea>
                <mat-hint>
                    <app-validation-message [control]="intakeForm.controls['address']" [propertyLabel]="'Address'">
                    </app-validation-message>
                </mat-hint>
            </mat-form-field>
        </div>
        <div class="form-group col-md-6 d-flex mb-3">
            <mat-form-field appearance="outline" class="col pb-3">   
                <mat-label>Emergency Contact Name</mat-label> 
                <input matInput type="text" name="emergencyContactName" id="emergencyContactName" formControlName="emergencyContactName">
                <mat-hint>
                    We will not contact this person unless we have reason to think you are in immediate danger.
                    <app-validation-message [control]="intakeForm.controls['emergencyContactName']" [propertyLabel]="'Emergency Contact Name'">
                    </app-validation-message>
                </mat-hint>
            </mat-form-field>
        </div>
        <div class="form-group col-md-6 d-flex">
            <mat-form-field appearance="outline" class="col">    
                <mat-label>Emergency Contact Phone Number</mat-label>
                <input matInput type="tel" name="emergencyContactNumber" id="emergencyContactNumber" formControlName="emergencyContactNumber">
                <mat-hint>
                    <span class="warn-color" *ngIf="intakeForm.controls['emergencyContactNumber'].errors?.pattern">Please enter a valid phone number.</span>
                    <app-validation-message [control]="intakeForm.controls['emergencyContactNumber']" [propertyLabel]="'Emergency Contact Phone Number'">
                    </app-validation-message>
                </mat-hint>
                    
            </mat-form-field>
        </div>
        <div class="form-group col-md-6 d-flex">
            <mat-form-field appearance="outline" class="col">    
                <mat-label>Relationship</mat-label>
                <input matInput type="text" name="emergencyContactRelationship" id="emergencyContactRelationship" formControlName="emergencyContactRelationship">
                <mat-hint>
                    <app-validation-message [control]="intakeForm.controls['emergencyContactRelationship']" [propertyLabel]="'Relationship'">
                    </app-validation-message>
                </mat-hint>
            </mat-form-field>
        </div>
        <div class="form-group col-md-12 d-flex">
            <mat-form-field appearance="outline" class="col session-work">
                <textarea matInput type="text" name="sessionWork" id="sessionWork" formControlName="sessionWork" row="5"
                    placeholder="What would you like to work on in this session? *"></textarea>
                <mat-hint>
                    <app-validation-message [control]="intakeForm.controls['sessionWork']" [propertyLabel]="'Above field'">
                    </app-validation-message>
                </mat-hint>
            </mat-form-field>
        </div>
    </form>
    <div class="mt-4">
        <button mat-raised-button color="primary" type="button" id="confirm" (click)="toggleConfirmation()">Confirm</button>
    </div>
</div>
<div *ngIf="isConfirmation" class="container">
    <h4 class="primary-color">Intake Form</h4>
    <p class="align-text-center w-100">Please confirm the information below.</p>
    <p class="vh-flex-center">
        <mat-icon class="edit-icon primary-color mx-2">edit</mat-icon>
        <a href="javascript:;" class="primary-color" 
            (click)="toggleConfirmation()" 
            id="editIntakeForm">
            Click here if you need to make changes.</a>
            
    </p>
    <div class="form-group row intake-readonly-view">
        <div class="col-md-12 row mt-2">
            <mat-divider class="first-divider"></mat-divider>
            <h6 class="d-inline-block col-6">Age</h6>
            <span class="d-inline-block col-6">{{intakeData.age}}</span>
            <mat-divider class="mt-2 mb-2"></mat-divider>
        </div>
        <div class="col-md-12 row">
            <h6 class="d-inline-block col-6">Gender</h6>
            <span class="d-inline-block col-6">{{intakeData.gender}}</span>
            <mat-divider class="mt-2 mb-2"></mat-divider>
        </div>
        <div class="col-md-12 row">
            <h6 class="d-inline-block col-6">Address</h6>
            <span class="d-inline-block col-6">{{intakeData.address}}</span>
            <mat-divider class="mt-2 mb-2"></mat-divider>
        </div>
        <div class="col-md-12 row">
            <h6 class="d-inline-block col-6">Emergency Contact</h6>
            <span class="d-inline-block col-6">{{intakeData.emergencyContactName}}</span>
            <mat-divider class="mt-2 mb-2"></mat-divider>
        </div>
        <div class="col-md-12 row">
            <h6 class="d-inline-block col-6">Relationship</h6>
            <span class="d-inline-block col-6">{{intakeData.emergencyContactRelationship}}</span>
            <mat-divider class="mt-2 mb-2"></mat-divider>
        </div>
        <div class="col-md-12 row">
            <h6 class="d-inline-block col-6">Phone Number</h6>
            <span class="d-inline-block col-6">{{intakeData.emergencyContactNumber}}</span>
            <mat-divider class="mt-2 mb-2"></mat-divider>
        </div>
        <div class="col-md-12 row">
            <h6 class="d-inline-block col-6">What would you like to work on in this session?</h6>
            <span class="d-inline-block col-6">{{intakeData.sessionWork}}</span>
            <mat-divider class="mt-2 mb-2"></mat-divider>
        </div>
        <div class="form-group col-md-12 d-flex">
            <div class="col mb-3 mt-4 checkbox-input">
                <mat-checkbox class="ml-3" color="primary"
                    id="crisisConsent" name="crisisConsent"
                    [(ngModel)]="isCrisisConsent">
                    I am not in crisis and do not currently have plans to hurt myself or others.
                </mat-checkbox>
            </div>
        </div>
    </div>
    <div class="mt-4">
        <button mat-raised-button color="primary" type="button" id="submit" (click)="onSubmit()">Submit</button>
    </div>
</div>