<div class="mt-4 session-container">
    <div class="primary-color text-center">
        <h4>Session Notes</h4>
    </div>
    <div class="row g-0 w-100 justify-content-center">
      <div class="row g-0 justify-content-center">
        <form [formGroup]="sessionNoteForm" class="vh-flex-center">
          <mat-form-field appearance="outline" class="col-md-6">

              <mat-label>Client</mat-label>
              <input type="text"
                  matInput
                  [matAutocomplete]="client"
                  formControlName="client">
              <mat-autocomplete #client="matAutocomplete">
                  <mat-option *ngFor="let clientItem of filteredOptionsClient | async" [value]="clientItem.value" [id]="clientItem.id"
                      (onSelectionChange)="setClient(clientItem.id)">
                      {{clientItem.value}}
                  </mat-option>
              </mat-autocomplete>
              <mat-hint>
                  <app-validation-message [control]="sessionNoteForm.controls['client']" [propertyLabel]="'Client'">
                  </app-validation-message>
              </mat-hint>

            </mat-form-field>
          </form>
      </div>
        <mat-card class="m-2 col-md-3 mat-elevation-z3" *ngFor="let note of sessionNoteList"> 
            <mat-card-header class="justify-content-center">
              <mat-card-title class="primary-color" *ngIf="isTherapist">{{note.clientName}}</mat-card-title>
              <mat-card-title class="primary-color" *ngIf="isClient">{{note.therapistName}}</mat-card-title>
              <mat-card-title class="primary-color" *ngIf="isAdmin">{{note.therapistName}} (Therapist)</mat-card-title>
              <mat-card-subtitle *ngIf="isAdmin">{{note.clientName}} (Client)</mat-card-subtitle>
            </mat-card-header>
            <mat-divider></mat-divider>
            <mat-card-content>
              <div class="note-container" [innerHTML]="note.sessionNote"></div>
            </mat-card-content>
          </mat-card>
    </div>
</div>