<div class="client-container">
    <img src="../../../../../assets/images/CircleLogo.png" width="180" height="175" class="" alt="circle logo">
    <img src="../../../../../assets/images/humanestlogo.png" width="347" height="87" class="" alt="logo">
    <router-outlet></router-outlet>
</div>