<div>
    <h4 class="primary-color row w-100 justify-content-center g-0 mb-4">Choose a Time</h4>
    <div class="w-100 vh-flex-center fonr-semi-bold accent-color" *ngIf="hasNoSlots">
        No appointment slots are available
    </div>
    <form [formGroup]="timeSlotForm">
        <div class="row timeslot-container" *ngIf="!isMobileView">
            <ng-container *ngFor="let data of slotData">
                <div *ngIf="data.appointmentSlots.length" class="col">
                    <h6>{{data.flag}}</h6>
                    <h6>{{data.displayDate}}</h6>
                    <h6>{{data.day}}</h6>
                    <div class="slot-item-container mt-2" #elemRef [attr.overflowing]="elemRef.offsetHeight && checkOverflow(elemRef)">
                        <div class="mt-2 mb-2" *ngFor="let slot of data.appointmentSlots">
                            <button mat-button class="timeslot-item" (click)="selectTimeslot(slot, data.date)"
                                [attr.active]="slot == activeSlot">{{slot.displayTime}}</button>                    
                        </div>
                    </div>
                </div>
            </ng-container>
        </div>
        <div class="row timeslot-container" *ngIf="isMobileView">
            <div *ngFor="let data of activeSlotData" class="col" @slideInOut>
                <h6>{{data.flag}}</h6>
                <h6>{{data.displayDate}}</h6>
                <h6>{{data.day}}</h6>
                <div class="slot-item-container mt-2" #elemRef [attr.overflowing]="checkOverflow(elemRef)">
                    <div class="mt-2 mb-2" *ngFor="let slot of data.appointmentSlots">
                        <button mat-button class="timeslot-item" (click)="selectTimeslot(slot, data.date)"
                            [attr.active]="slot == activeSlot">{{slot.displayTime}}</button>                    
                    </div>
                </div>
            </div>
            <div>
                <button mat-mini-fab color="primary" class="slot-nav-btns left" 
                    *ngIf="slotDisplayInfo.hasDataLeft"
                    (click)="setActiveSlotData(slotDisplayInfo.activeIndex-1)">
                    <mat-icon>chevron_left</mat-icon>
                </button>
                <button mat-mini-fab color="primary" class="slot-nav-btns right"
                    *ngIf="slotDisplayInfo.hasDataRight"
                    (click)="setActiveSlotData(slotDisplayInfo.activeIndex+1)">
                    <mat-icon>chevron_right</mat-icon>
                </button>
            </div>
        </div>
        <div class="error-container">
            <span class="warn-color error" *ngIf="noSelectedSlotsError">Please choose a timeslot.</span>
        </div>
        <div class="mt-5">
             <button mat-raised-button color="primary" type="button" (click)="onSubmit()">Choose</button>
        </div>
    </form>    
</div>