.timeslot-container {
    &>div {
        max-width: 200px;

        &:first-child {
            margin-left: auto;
        }

        &:last-child {
            margin-right: auto;
        }
    }

    .slot-item-container {
        max-height: calc(100vh - 425px);
        overflow: auto;

        &[overflowing='true'] {
            box-shadow: inset 0 -30px 20px -30px grey;
        }

        .timeslot-item {
            outline: 1px solid var(--primary-color);
    
            &[active='true'] {
                background-color: var(--primary-color);
                color: var(--primary-contrast);
            }
        }
    }

    .slot-nav-btns {
        position: absolute;
        top: 50%;

        mat-icon {
            height: 30px;
        }

        &.left {
            left: 4px;
        }

        &.right {
            right: 4px;
        }
    }
}

.error-container {
    .error {
        display: block;
        margin: auto;
    }
}