<div>
    <form [formGroup]="schedule1on1Form" class="schedule-container">
        <div class="col-md-7 m-auto">
            <h4 class="primary-color mb-4">Where will you be located at the time of your appointment?</h4>
        </div>
        <div class="col-md-7 m-auto">
            <app-state-selection [form]="schedule1on1Form"></app-state-selection>
            <app-validation-message [control]="schedule1on1Form.controls['state']" [propertyLabel]="'State'">
            </app-validation-message>
            <button mat-raised-button color="primary" type="button" id="confirm" (click)="onConfirm()">Confirm</button>
        </div>
    </form>
</div>