<div class="vh-flex-center flex-column">
    <div class="mt-4">
        <p class="warn-color font-semi-bold m-0">The page you are trying to access is forbidden.</p>
        <p class="warn-color font-semi-bold m-0">Try accessing the page after login.</p>
    </div>
    <div>
        <div class="mt-4 btn-block">
            <a class="primary-color font-semi-bold" routerLink="/login">Go to Login Page</a>
        </div>
    </div>
</div>