<div mat-dialog-title class="vh-flex-center">
  <div class="row">
    <h3 class="col vh-flex-center m-0">Event Information</h3>
    <button mat-button class="col-auto" color="primary" (click)="editEvent()" *ngIf="data.showEdit">
      <mat-icon>edit</mat-icon>
      Edit
    </button>
  </div>
</div>
<div mat-dialog-content>
  <mat-divider class="mt-2 mb-2"></mat-divider>
  <div class="row">
    <div class="col-3 font-semi-bold e">Title</div>
    <div class="col-9 d-flex align-items-center">{{data.eventName}}</div>
  </div>
  <mat-divider class="mt-2 mb-2"></mat-divider>
  <div class="row">
    <div class="col-3 font-semi-bold">Date</div>
    <div class="col-9 d-flex align-items-center">{{data.displayDate}}</div>
  </div>
  <mat-divider class="mt-2 mb-2"></mat-divider>
  <div class="row">
    <div class="col-3 font-semi-bold">Start Time</div>
    <div class="col-9 d-flex align-items-center">{{data.displayDateTime}}</div>
  </div>
  <mat-divider class="mt-2 mb-2"></mat-divider>
</div>
<div mat-dialog-actions class="justify-content-center">
  <button mat-stroked-button color="primary" mat-dialog-close 
    *ngIf="data.isAddActionPlan">Add Action Plan</button>
  <button mat-stroked-button color="accent" (click)="addSessionNotes()" mat-dialog-close 
    *ngIf="data.isAddSessionNotes">Add Session Notes</button>
  <button mat-stroked-button color="warn" mat-dialog-close>Close</button>
</div>