.client-container{
    min-height: 100vh;
    margin: 0 auto;
    text-align: center;
    padding: 20px 0px;
    padding-bottom: 0px;

    .content-wrapper {
        padding: 12px;
    }

    .logo-container {
        margin-left: 12px;
        .app-title {
            margin-left: 4px;
        }
    }

    .footer {
        display: flex;
        justify-content: center;

        .footer-container {
            max-width: 400px;
            .mat-icon-with-text {
                padding: 0 8px !important;
            }
        }
    }

    .header {
        .mat-icon-with-text {
            padding: 0 8px !important;
        }
    }

    &.flex-container {
        .content {
            max-height: calc(100vh - 176px);
        }
        .content.no-header {
            max-height: unset;
        }
    }
}