<div class="client-container flex-container" *ngIf="showHeaderFooter">
    <div class="row g-0 header">
        <div class="col d-flex align-items-center logo-container">
            <a href="#">
                <img src="../../../../assets/images/humanestlogo.png" height="55" class="d-inline-block align-top"
                    alt="logo">
            </a>
        </div>
        <div class="col-auto mx-2">
            <button mat-button class="mat-icon-with-text active">
                <mat-icon>phone_iphone</mat-icon>
                <span class="label">Book new 1:1</span>
            </button>
            <button mat-button class="mat-icon-with-text active">
                <mat-icon>star</mat-icon>
                <span class="label">Action Plan</span>
            </button>
        </div>
    </div>
    <mat-divider class="mt-3 mb-2"></mat-divider>
    <div class="content">
        <div class="content-wrapper">
            <router-outlet></router-outlet>
        </div>
    </div>
    <mat-divider class="mt-2 mb-2"></mat-divider>
    <div class="footer" *ngIf="showHeaderFooter">
        <div class="footer-container">
            <button mat-button class="mat-icon-with-text" routerLink="dashboard"
                [ngClass]="{'active': currentPath == 'dashboard'}">
                <mat-icon>person</mat-icon>
                <span class="label">My humanest</span>
            </button>
            <button mat-button class="mat-icon-with-text" disabled>
                <mat-icon>groups</mat-icon>
                <span class="label">Group Events</span>
            </button>
            <button mat-button class="mat-icon-with-text" routerLink="calendar"
                [ngClass]="{'active': currentPath == 'calendar'}">
                <mat-icon>event</mat-icon>
                <span class="label">Calendar</span>
            </button>
            <button mat-button class="mat-icon-with-text" disabled>
                <mat-icon>chat</mat-icon>
                <span class="label">Community</span>
            </button>
            <button mat-button [matMenuTriggerFor]="profileMenu" class="mat-icon-with-text">
                <mat-icon>settings</mat-icon>
                <span class="label">Settings</span>
            </button>
        </div>
    </div>
</div>
<div class="client-container flex-container" *ngIf="!showHeaderFooter">
    <div class="content no-header">
        <div class="content-wrapper">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>

<mat-menu #profileMenu="matMenu">
    <button mat-menu-item>Edit Profile</button>
    <button mat-menu-item id="logoutMenuItem" (click)="logout()">Logout</button>
</mat-menu>