::ng-deep forgot-password {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.forgot-password-container{
    max-width: 400px;
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    position: relative;
    padding-bottom: 75px;
}
