<div class="forgot-password-container p-2">
    <div class="row w-100">
        <div class="col mt-2">
            <div *ngIf="showEmailDiv" class="row">
                <div class="col text-center">
                    <h5 class="primary-color text-start">Enter your email and we’ll send you a link to reset your password</h5>
                    <form [formGroup]="sendResetLinkForm" (keyup.enter)="sendResetLink()">
                        <div class="form-group row">
                            <mat-form-field appearance="outline" class="col mt-3">
        
                                <mat-label>Email</mat-label>
                                <input matInput type="email" name="emailAddress" id="emailAddress"
                                    formControlName="emailAddress" autofocus>
                                <mat-hint>
                                    <app-validation-message [control]="sendResetLinkForm.controls['emailAddress']" [propertyLabel]="'Email'">
                                    </app-validation-message>
                                </mat-hint>

                            </mat-form-field>
                        </div>
                    </form>                    
                    <div class="row">
                        <div class="col">
                            <app-validation-summary [serverErrors]="serverErrors"></app-validation-summary>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col text-center mt-3">
                            <button mat-raised-button color="primary" type="button" class="btn forgot-password-button" id="sendResetPasswordLink"
                                (click)="sendResetLink()">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="!showEmailDiv" class="row">
                <div class="col text-center">   
                    <h5 class="primary-color">Reset your password</h5>
                    <form [formGroup]="resetPasswordForm" (keyup.enter)="onSubmit()">
                        <div class="form-group row">
                            <mat-form-field appearance="outline" class="col mt-2">
        
                                <mat-label>New Password</mat-label>
                                <input matInput type="password" name="password" id="password" formControlName="password" autofocus>
                                <mat-hint>
                                    <app-validation-message [control]="resetPasswordForm.controls['password']"
                                        [propertyLabel]="'New Password'">
                                    </app-validation-message>
                                </mat-hint>
        
                            </mat-form-field>
                        </div>
                        <div class="form-group row">
                            <mat-form-field appearance="outline" class="col mt-2">
        
                                <mat-label>Confirm Password</mat-label>
                                <input matInput type="password" name="confirmPassword" id="confirmPassword" formControlName="confirmPassword">
                                <mat-hint>
                                    <app-validation-message [control]="resetPasswordForm.controls['confirmPassword']"
                                        [propertyLabel]="'Confirm Password'">
                                    </app-validation-message>
                                </mat-hint>
        
                            </mat-form-field>
                        </div>
                    </form>
                    <div class="row">
                        <div class="col">
                            <app-validation-summary [serverErrors]="serverErrors"></app-validation-summary>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col text-center mt-3">
                            <button mat-raised-button color="primary" type="button" id="updatePassword" (click)="onSubmit()">
                                Save
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>