.mat-tab-label {
  opacity: 1 !important;
}

.mat-tab-label-active {
  .mat-tab-label-content {
    font-size: large;
  }
}

.mat-ink-bar {
  height: 3px !important;
}

.mat-tab-body {
  .mat-tab-body-content {
    overflow-x: hidden;
  }
}

.mat-checkbox-layout{
  white-space: normal !important;
  text-align: left;

  .mat-checkbox-label {
    margin-left: 8px;
  }
}

.mat-icon-with-text {
  &.active {
    color: $primary_color;

    .mat-button-wrapper {  
      &> span.label {
        color: $primary_color;
      }
    }
  }

  &[disabled] {
    pointer-events: none;
  }

  .mat-button-wrapper {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;;
    align-items: center;

    .mat-icon {
      font-size: 2em;
      line-height: unset;
      height: unset;
      width: unset;
    }
  
    &> span.label {
      display: block;
      font-weight: bold;
      font-size: 0.7em;
      line-height: 2em;
    }
  }
}

.mat-button-base {
  &.mat-icon-button {
    line-height: unset !important;
  }
  
  &[aria-expanded="true"].active-bg {
    color: var(--primary-contrast);
    background-color: var(--primary-color);
  }
}

.mat-dialog-content {
  min-width: 360px;
}

.mat-form-field {
  .mat-form-field-label {
    line-height: 1.3em;
  }

  .mat-hint {
    .error-body {
      line-height: 1.3em;
    }
  }

  .mat-select-min-line {
    line-height: 1.3em;
  }
}

.mat-option {
  .option-subtext {
    position: absolute;
    top: 16px;
    font-size: 0.7em;
    left: 18px;
  }
}

.mat-calendar {
  .mat-calendar-abbr {
    font-weight: bolder;
  }
  .mat-calendar-body-cell-content {
    font-weight: bold;
  }
}

.mat-calendar-abbr {
  text-decoration: none!important;
}

.mat-calendar-table-header th {
  font-size: 13px;
}