@import "./theme.scss";
@import "./material-typography.scss";
@import "./assets/libraries/bootstrap.min.css";
@import "./assets/libraries/toastr.min.css";

*, html, body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html, body {
    overflow: auto;
}

html, body {
    min-height: 100%;
    min-width: 100%;
}

.primary-color {
    color: $primary_color !important;
}
.primary-bg {
    background-color: $primary_color !important;
}
.primary-bg-opacity {
    background-color: rgba($primary_color, .07) !important;
}

.accent-color {
    color: $accent_color !important;
}
.accent-bg {
    background-color: $accent_color !important;
}

.warn-color {
    color: $warn_color !important;
}

a {
    color: unset;

    &:hover {
        color: $primary_color;
    }
}


.flex-container {
    display: flex;
    flex-flow: column;

    .header {
        flex: 0 1 auto;
    }
    .content {
        flex: 1 1 auto;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: auto;

        &>.content-wrapper {
            max-height: 100%;
            overflow: auto;
            width: 100%;
            margin: auto;
        }
    }
    .footer {
        flex: 0 1 auto;
    }
}

.action-btns {
    button {
        min-width: 100px;
        margin: 0 12px;
    }
}

.font-semi-bold {
    font-weight: 500;
}

.font-bolder {
    font-weight: bolder;
}

.cdk-overlay-pane {
    max-width: unset !important;
}

// Verticle & horizontal align center
.vh-flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.fc .fc-popover {
    z-index: 999!important;
}

.rotate-side {
    transform: rotate(270deg);
}

.border-primary-color {
    border: 2px solid var(--primary-color);
}