// Documentation of below code can be found in README.md
@use '@angular/material' as mat;

@include mat.core();

$primary_color_shade: 500;
$secondary_color_shade: 500;

$my-primary-palette: (
    50 : #eaf2f1,
    100 : #cadedd,
    200 : #a6c8c7,
    300 : #82b2b0,
    400 : #68a29f,
    500 : #4d918e,
    600 : #468986,
    700 : #3d7e7b,
    800 : #347471,
    900 : #25625f,
    A100 : #a6fffa,
    A200 : #73fff8,
    A400 : #40fff5,
    A700 : #26fff4,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$my-accent-palette: (
    50 : #f2ede9,
    100 : #dfd1c9,
    200 : #cab3a5,
    300 : #b49581,
    400 : #a47e66,
    500 : #94674b,
    600 : #8c5f44,
    700 : #81543b,
    800 : #774a33,
    900 : #653923,
    A100 : #ffc2a7,
    A200 : #ff9e74,
    A400 : #ff7b41,
    A700 : #ff6928,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$my-primary: mat.define-palette($my-primary-palette, $primary_color_shade);
$my-accent: mat.define-palette($my-accent-palette);
$my-warn: mat.define-palette(mat.$red-palette, $primary_color_shade);

$my-typography: mat.define-typography-config(
  $font-family: "'Segoe UI', Tahoma, Geneva, Verdana, sans-serif",
);

$my-theme: mat.define-light-theme((
 color: (
   primary: $my-primary,
   accent: $my-accent,
   warn: $my-warn,
 ),
 typography: $my-typography,
));

@include mat.all-component-themes($my-theme);

// Uncomment this to improve accessibility
// @include mat.strong-focus-indicators();
// @include mat.strong-focus-indicators-theme($my-theme);

/* -------------------------  Color Variables  --------------------------- */
// typography colors

$primary_color: mat.get-color-from-palette($my-primary, $primary_color_shade);
$accent_color: mat.get-color-from-palette($my-accent, $secondary_color_shade);
$warn_color: mat.get-color-from-palette($my-warn);

// From primary theme
$Color_50: mat.get-color-from-palette($my-primary, 50);
$Color_100: mat.get-color-from-palette($my-primary, 100);
$Color_200: mat.get-color-from-palette($my-primary, 200);
$Color_300: mat.get-color-from-palette($my-primary, 300);
$Color_400: mat.get-color-from-palette($my-primary, 400);
$Color_500: mat.get-color-from-palette($my-primary, 500);
$Color_600: mat.get-color-from-palette($my-primary, 600);
$Color_700: mat.get-color-from-palette($my-primary, 700);
$Color_800: mat.get-color-from-palette($my-primary, 800);
$Color_900: mat.get-color-from-palette($my-primary, 900);

$Contrast_50: mat.get-color-from-palette($my-primary, '50-contrast');
$Contrast_100: mat.get-color-from-palette($my-primary, '100-contrast');
$Contrast_200: mat.get-color-from-palette($my-primary, '200-contrast');
$Contrast_300: mat.get-color-from-palette($my-primary, '300-contrast');
$Contrast_400: mat.get-color-from-palette($my-primary, '400-contrast');
$Contrast_500: mat.get-color-from-palette($my-primary, '500-contrast');
$Contrast_600: mat.get-color-from-palette($my-primary, '600-contrast');
$Contrast_700: mat.get-color-from-palette($my-primary, '700-contrast');
$Contrast_800: mat.get-color-from-palette($my-primary, '800-contrast');
$Contrast_900: mat.get-color-from-palette($my-primary, '900-contrast');
/* ---------------------------------------------------------------------- */
:root {
  --primary-color: #{$primary_color};
  --accent-color: #{$accent_color};
  --warn-color: #{$warn_color};
  --primary-contrast: #{$Contrast_500};
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialicons/v120/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}