<div>
    <div class="primary-color text-center">
        <h4>Search for a counselor</h4>
    </div>
    <form [formGroup]="searchCounselorForm" class="counselor-form row mt-3" *ngIf="areFiltersLoaded">
        <div class="form-group d-flex col-md-6">
            <mat-form-field appearance="outline" class="w-100">
                
                <mat-label>Specialty</mat-label>
                <mat-chip-list #chipList>
                  <mat-chip class="mat-chip-selected"
                    *ngFor="let speciality of selectedSpecialties"
                    color="primary"
                    (removed)="remove(speciality, 'selectedSpecialties', 'speciality')">
                    {{speciality.text}}
                    <mat-icon matChipRemove>cancel</mat-icon>
                  </mat-chip>
                  <input matInput
                    #specialityInput
                    formControlName="speciality"
                    [matAutocomplete]="autoSpec"
                    [matChipInputFor]="chipList"
                    [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                    #triggerSpec="matAutocompleteTrigger" 
                    (change)="validateInput('speciality', 'selectedSpecialties')">
                </mat-chip-list>
                <mat-autocomplete #autoSpec="matAutocomplete" (optionSelected)="selected($event, 'speciality', 'selectedSpecialties', specialityInput, triggerSpec)">
                  <mat-option *ngFor="let speciality of filteredSpecialties | async" [value]="speciality.text" [id]="speciality.id.toString()">
                    {{speciality.text}}
                  </mat-option>
                </mat-autocomplete>
                
                <mat-hint>
                    <app-validation-message [control]="searchCounselorForm.controls['speciality']" [propertyLabel]="'Speciality'">
                    </app-validation-message>
                </mat-hint>

            </mat-form-field>
        </div>
        <div class="form-group d-flex col-md-6">
            <mat-form-field appearance="outline" class="w-100">
                 
                <mat-label>Languages</mat-label>
                <mat-chip-list #chipListLanguage>
                  <mat-chip class="mat-chip-selected"
                    *ngFor="let language of selectedLanguages"
                    color="primary"
                    (removed)="remove(language, 'selectedLanguages', 'languages')">
                    {{language.text}}
                    <mat-icon matChipRemove>cancel</mat-icon>
                  </mat-chip>
                  <input matInput
                    #languageInput
                    formControlName="languages"
                    [matAutocomplete]="autoLanguage"
                    [matChipInputFor]="chipListLanguage"
                    [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                    #triggerLang="matAutocompleteTrigger" 
                    (change)="validateInput('language', 'selectedLanguages')">
                </mat-chip-list>
                <mat-autocomplete #autoLanguage="matAutocomplete" (optionSelected)="selected($event, 'languages', 'selectedLanguages', languageInput, triggerLang)">
                  <mat-option *ngFor="let language of filteredLanguages | async" [value]="language.text" [id]="language.id.toString()">
                    {{language.text}}
                  </mat-option>
                </mat-autocomplete>
                
                <mat-hint>
                    <app-validation-message [control]="searchCounselorForm.controls['languages']" [propertyLabel]="'Languages'">
                    </app-validation-message>
                </mat-hint>

            </mat-form-field>
        </div>
        <div class="form-group d-flex col-md-6">
            <mat-form-field appearance="outline" class="w-100">

                <mat-label>Pronouns</mat-label>
                <mat-select formControlName="pronouns">
                    <mat-option *ngFor="let pronoun of pronouns" [value]="pronoun.id">
                        {{pronoun.text}}
                    </mat-option>
                </mat-select>
                <mat-hint>
                    <app-validation-message [control]="searchCounselorForm.controls['pronouns']" [propertyLabel]="'Pronouns'">
                    </app-validation-message>
                </mat-hint>

            </mat-form-field>
        </div>
        <div class="form-group d-flex col-md-6">
            <mat-form-field appearance="outline" class="w-100">

                <mat-label>Day of the week availability</mat-label>
                <mat-chip-list #chipListAvailability>
                  <mat-chip class="mat-chip-selected"
                    *ngFor="let availability of selectedAvailabilities"
                    color="primary"
                    (removed)="remove(availability, 'selectedAvailabilities', 'availabilities')">
                    {{availability.text}}
                    <mat-icon matChipRemove>cancel</mat-icon>
                  </mat-chip>
                  <input matInput
                    #availabilityInput
                    formControlName="availability"
                    [matAutocomplete]="autoAvailability"
                    [matChipInputFor]="chipListAvailability"
                    [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                    #triggerAvailability="matAutocompleteTrigger" 
                    (change)="validateInput('availability', 'selectedAvailabilities')">
                </mat-chip-list>
                <mat-autocomplete #autoAvailability="matAutocomplete" (optionSelected)="selected($event, 'availability', 'selectedAvailabilities', availabilityInput, triggerAvailability)">
                  <mat-option *ngFor="let availability of filteredAvailabilities | async" [value]="availability.text" [id]="availability.id.toString()">
                    {{availability.text}}
                  </mat-option>
                </mat-autocomplete>

                
                <mat-hint>
                    <app-validation-message [control]="searchCounselorForm.controls['availability']" [propertyLabel]="'Day of the week availability'">
                    </app-validation-message>
                </mat-hint>

            </mat-form-field>
        </div>
    </form>
    <div class="row d-flex">
        <div class="col schedule-session-errors">
          <app-validation-summary class="vh-flex-center mt-2" [serverErrors]="serverErrors"></app-validation-summary>
        </div>
      </div>
    <div class="vh-flex-center">
        <button mat-raised-button class="search-btn" color="primary" type="button" id="showResult" (click)="onShowResult()">
            Show Results
        </button>
    </div>
    <div class="vh-flex-center mt-3">
        <button mat-raised-button class="search-btn" color="primary" type="button" id="showAll" (click)="onShowAll()">
            Show all counselors
        </button>
    </div>
</div>