<form [formGroup]="form">
    <mat-form-field [appearance]="appearance" class="w-100">
        <mat-label>Enter a location</mat-label>
        <input formControlName="state" matInput type="text" autocomplete="new-password" (setAddress)="getAddress($event)" googlePlace="(cities)" />
        <mat-icon matPrefix class="me-2">
            place
        </mat-icon>
    </mat-form-field>
</form>