::ng-deep .pac-container {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;

    &.hdpi.pac-logo:after {
        background-image: none;
        padding: 0;
        height: unset;
    }

    .pac-item {
       padding: 8px;
    }
}