<section class="week-view-container">
        <div class="week-view-header">
            <div class="header row overflow-hidden vh-flex-center">
                <div class="nav-button col-4 text-start">
                    <button mat-mini-fab color="primary" (click)="navigate('prev')">
                        <mat-icon>chevron_left</mat-icon>
                    </button>
                    <button mat-mini-fab color="primary" (click)="navigate('next')" class="ms-2">
                        <mat-icon>chevron_right</mat-icon>
                    </button>
                    <button mat-mini-fab color="primary" class="ms-2" (click)="picker.open()">
                        <mat-icon>event</mat-icon>
                    </button>
                    <span class="d-none">
                        <input matInput [matDatepicker]="picker" (dateChange)="onDateSelect($event.value)">
                        <mat-datepicker #picker touchUi="true"></mat-datepicker>
                    </span>
                </div>
                <div class="col-4">
                    <h4 class="primary-color text-center">{{Calendar?.view.title}}</h4>
                </div>
                <div class="col-4 text-end">
                    <mat-form-field class="col">

                        <mat-label>Calendar View</mat-label>
                        <mat-select (selectionChange)="onViewChange($event)" 
                            [value]="selectedView">
                            <mat-option *ngFor="let view of calendarViews" [value]="view.id">
                                {{view.text}}
                            </mat-option>
                        </mat-select>
        
                    </mat-form-field>
                </div>
            </div>
            <full-calendar
                #fullcalendar
                [options]='calendarOptions'
                (eventRender)="eventRender($event)">
            </full-calendar>
        </div>
</section>