.week-view-container {
    padding: 12px;
    height: calc(100vh - 189px);

    .week-view-header {
        display: block;
        height: calc(100vh - 250px);

        ::ng-deep full-calendar {
            height: 100%;
        }
    }
}

::ng-deep {
    .fc-list-event-graphic {
        color: var(--primary-contrast);
    }
    .fc-more-link {
        font-weight: 500;
        color: var(--primary-color);
    }
    .fc-event {
        border-color: var(--primary-contrast)!important;
    }
    .fc .fc-popover {
        max-width: 100%!important;
    }

    .fc-toolbar-title {
        text-align: center;
    }

    .fc-event-main:not(.fc-list-event), .fc-daygrid-event:not(.fc-list-event) {
        overflow: hidden;
        background-color: var(--primary-color);
        color: var(--primary-contrast);
        cursor: pointer;

        &:hover {
            background-color: var(--accent-color);
            color: var(--primary-contrast);
        }
    }
    .fc .fc-daygrid-day-bottom {
        text-align: center;
    }
    .fc .fc-daygrid-day-number {
        opacity: 0.8;
    }
    .fc-view-harness {
        overflow: auto;

        .fc-timeGridWeek-view {
            min-width: 600px;
        }
    }
    .fc-header-toolbar {
        display: none !important;
    }
}

@media screen and (max-width: 600px) and (min-width: 0px) {
    #navCreateEvent {

    }
    ::ng-deep {
        .fc .fc-button-group {
            flex-direction: column;
            display: none!important;
        }
        .fc-toolbar-chunk {
            display: flex;
            flex-direction: column;

            .fc-button-primary {
                margin: 0!important;
            }
        }
    }
}