<div class="p-4 session-container">
    <div class="primary-color text-center">
        <h4>Add Session Notes</h4>
    </div>
    <div class="row g-0 w-100 justify-content-center">
        <form [formGroup]="sessionNoteForm" class="admin-calendar-form row vh-flex-center">
            <!-- <mat-form-field appearance="outline">

                <mat-label>Client</mat-label>
                <input type="text"
                    matInput
                    [matAutocomplete]="client"
                    formControlName="client">
                <mat-autocomplete #client="matAutocomplete">
                    <mat-option *ngFor="let clientItem of filteredOptionsClient | async" [value]="clientItem.value" [id]="clientItem.id"
                        (onSelectionChange)="setClient(clientItem.id)">
                        {{clientItem.value}}
                    </mat-option>
                </mat-autocomplete>
                <mat-hint>
                    <app-validation-message [control]="sessionNoteForm.controls['client']" [propertyLabel]="'Client'">
                    </app-validation-message>
                </mat-hint>

            </mat-form-field> -->

            <div>

                    <ckeditor [editor]="Editor" formControlName="sessioNote">
                    </ckeditor>
                    
                    <div>
                        <app-validation-message [control]="sessionNoteForm.controls['sessioNote']" [propertyLabel]="'Session Notes'">
                        </app-validation-message>
                    </div>
            </div>
            
            <div class="form-group text-center mt-4 action-btns">
                <button mat-raised-button color="primary" type="button" id="save" (click)="onSubmit()">Save</button>
            </div>

            <div>
                <app-validation-summary class="vh-flex-center mt-2" [serverErrors]="serverErrors"></app-validation-summary>
            </div>
        </form>
    </div>
</div>