<div class="therapist-details-container">
    <div>
        <h3 class="primary-color">{{therapistName}}</h3>
        <h6 class="accent-color">{{therapistLicense}}</h6>
        <video width="240px" height="306px">
            <source src="{{therapistVideoUrl}}" type="video/mp4">
            Your browser does not support the video tag.
        </video>
        <p>{{therapistBio}}</p>
    </div>
    <div class="col">
        <button mat-raised-button color="primary"  (click)="onBooking()">Book with {{therapistName}}</button>
    </div>
</div>