<nav class="mat-elevation-z2">
  <div class="nav-body">
    <div class="row g-0 align-items-center justify-content-end">
      <div class="col">
        <a href="#">
          <img src="../../../../assets/images/humanestlogo.png" height="55" class="d-inline-block align-top"
            alt="logo">
        </a>
      </div>
      <ul class="col-auto nav navbar-right full-menu-container">
        <li><button mat-button class="active-bg" id="navAbout" [matMenuTriggerFor]="aboutMenu">About</button></li>
        <li><a mat-button href="https://humanestcare.com/organizations/colleges" id="navColleges">Colleges</a></li>
        <li><a mat-button href="https://humanestcare.com/organizations/health-systems" id="navHealthSystems">Health Systems</a></li>
        <li><a mat-button href="https://humanestcare.com/organizations/employers" id="navForEmployers">For Employers</a></li>
      </ul>
      <div class="mobile-hamburger col-auto navbar-right full-menu-container mt-1">
        <button mat-icon-button class="active-bg" [matMenuTriggerFor]="menu" aria-label="Open Menu">
          <mat-icon>menu</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item id="navAbout" [matMenuTriggerFor]="aboutMenu">About</button>
          <a mat-menu-item href="https://humanestcare.com/organizations/colleges" id="navColleges">Colleges</a>
          <a mat-menu-item href="https://humanestcare.com/organizations/health-systems" id="navHealthSystems">Health Systems</a>
          <a mat-menu-item href="https://humanestcare.com/organizations/employers" id="navForEmployers">For Employers</a>
        </mat-menu>
        <mat-menu #aboutMenu="matMenu">
          <a mat-menu-item href="https://humanestcare.com/care-continuum" id="navCareContinuum">Care Continuum</a>
          <a mat-menu-item href="https://humanestcare.com/guidance-engine" id="navGuidanceEngine">Guidance Engine</a>
          <a mat-menu-item href="https://humanestcare.com/provider-training" id="navProviderTraining">Provider Training</a>
          <a mat-menu-item href="https://humanestcare.com/self-help/blog" id="navSelfHelp">Self Help</a>
          <a mat-menu-item href="https://humanestcare.com/humanest-community" id="navHumanestCommunity">humanest Community</a>
        </mat-menu>
      </div>
    </div>
  </div>
</nav>