
nav {
    position: absolute;
    width: 100%;

    .nav-element{
        padding-top: 10px;
    }
    
    .nav-body{
        padding: 10px 10px;
    }
    
    
    .mobile-hamburger {
        display: none;
    }
    
    .full-menu-container {
        position: relative;
    }

    ul li {
        margin-top: auto;
    }
}

@media only screen and (max-width: 727px) {
    nav {
        .mobile-hamburger {
            display: block;
        }
        .nav {
            display: none;
        }
    }
}