<div #loader id="loader">
    <div class="vh-flex-center h-100 w-100">
        <div class="background primary-bg"></div>
        <div class="center-content">
            <mat-spinner 
                color="accent"
                strokeWidth="4"
                diameter="150">
            </mat-spinner>
        </div>
        <div class="center-content">
            <img src="../assets/images/CircleLogo.png" width="128" class="" alt="circle logo">
        </div>
    </div>
</div>
<div class="root">
    <router-outlet></router-outlet>
</div>