#loader {
    position: fixed;
    height: 100%;
    width: 100%;
    display: none;
    z-index: 999;

    div.background {
        position: absolute;
        height: 100%;
        width: 100%;
        opacity: 0.3;
    }

    div.center-content {
        position: absolute;
        z-index: 99;

        img {
            animation: rotation 2s infinite linear;
        }

        mat-spinner {
            background: var(--primary-contrast);
            border-radius: 50%;
        }
    }
}

.root {
    min-height: 100vh;
    margin: auto;
}

@keyframes rotation {
    from {
      transform: rotate(359deg);
    }
    to {
      transform: rotate(0deg);
    }
}