::ng-deep app-admin-calendar {
    height: calc(100vh - 108px);
    display: block;
}

.event-info-container {
    .time-item {
        max-width: 24px;
    }

    .event-info-item {
        margin: 24px 0;
    }
}

.calendar-container {
    margin: auto;
}

.icon-text .mat-button-wrapper {
    display: flex;
    align-items: center;
    margin-right: 8px;
}
@media screen and (max-width: 600px) and (min-width: 0px) {
    .create-new-event {
        text-align: center!important;
    }
}