<div class="calendar-container mt-2">
    <div class="primary-color text-center">
        <h4 class="m-0">Calendar</h4>
    </div>
    <div class="row g-0 justify-content-center admin-registration">
        <div class="text-end mt-2 px-3 create-new-event">
            <a mat-raised-button class="icon-text" id="navCreateEvent" color="primary" (click)="createEvent()">
                <mat-icon>add</mat-icon>
                Create Event
            </a>
        </div>
        <div>
            <week-view-desktop-calendar (dateChange)="onDateChange($event)" [updateEventSubject]="updateEventSubject">
            </week-view-desktop-calendar>
        </div>
    </div>
</div>