<div>
    <div>
        <form [formGroup]="availabilitySlotForm">
            <div class="form-group row">
                <mat-form-field appearance="outline" class="col-md-3">

                    <mat-label>Select start date of the week</mat-label>
                    <input matInput [matDatepicker]="picker" name="startDate" id="startDate" formControlName="startDate"
                        [min]="tomorrow" [max]="monthLimit" (dateChange)="populateAvailabilitySlotList()">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
            </div>
            <div *ngIf="isDateSelected">
                <div class="form-group row" *ngFor="let item of availability">
                    <div class="col-md-2">
                            {{item.date}}
                    </div>
                    <div class="col-md-3">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>Start Time</mat-label>
                            <mat-select (selectionChange)="updateEndTimeSlot($event, item)">
                                <mat-option *ngFor="let slot of item.starttimelist" [value]="slot.id">
                                    {{slot.text}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-md-3">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>End Time</mat-label>
                            <mat-select (selectionChange)="validateEndTime($event, item)">
                                <mat-option *ngFor="let data of item.endtimelist" [value]="data.id">
                                    {{data.text}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-md-4">
                        <button type="button" mat-icon-button color="primary" matTooltip="Add more slots"
                            matTooltipPosition="left" (click)="addSlot(item)">
                            <mat-icon>add</mat-icon>
                        </button>
                        <button type="button" mat-icon-button color="warn" matTooltip="Delete slot"
                            matTooltipPosition="right" (click)="removeSlot(item)" *ngIf="item.id > 6">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <app-validation-summary [serverErrors]="serverErrors"></app-validation-summary>
                </div>
            </div>
        </form>
        <div class="d-flex justify-content-center">
            <button mat-raised-button color="primary" type="button" id="submitSLots"
                (click)="onSubmit()" [disabled]="!isSlotSelected">Submit</button>
        </div>
    </div>
</div>