::ng-deep app-therapist {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

nav-header {
    position: fixed;
    width: 100%;    
    background: var(--primary-contrast);
    z-index: 1;
}

.therapist-wrapper {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    padding-top: 75px;
}