
nav {
    
    .nav-element{
        padding-top: 10px;
    }

    .nav-body {
        padding: 10px 10px;
    }

    .mobile-hamburger {
        display: none;
    }

    .full-menu-container {
        position: relative;
    }
    
    ul li {
        margin-top: auto;
    }
}

.profile-menu-item {
    display: flex;
    button mat-icon {
        color: var(--primary-contrast);
    }
}

.inline-mini-fab {
    box-shadow: none;
}

@media only screen and (max-width: 728px) {
    nav {
        .mobile-hamburger {
            display: block;
        }
        .nav {
            display: none;
        }
    }
}