<nav class="mat-elevation-z2">
  <div class="nav-body">
    <div class="row g-0 align-items-center justify-content-end">
      <div class="col">
        <a href="#">
          <img src="../../../../assets/images/humanestlogo.png" height="55" class="d-inline-block align-top"
            alt="logo">
        </a>
      </div>
      <ul class="col-auto nav navbar-right full-menu-container">
        <li><a mat-button [routerLink]="['calendar']" id="navCalendar">Calendar</a></li>
        <li><a mat-button [routerLink]="['pendingevents']" id="navPendEvent">Pending Events</a></li>
        <li><a mat-button [routerLink]="['register']" id="navRegUser">Register User</a></li>
        <li><a mat-button href="#" id="navClientList">Client List</a></li>
        <!-- <li><a mat-button href="#" id="navActionItems">Action Items</a></li> -->
        <li><a mat-button [routerLink]="['view-notes']" id="navActionItems">View Notes</a></li>
        <li><a mat-button href="#" id="navReport">Report</a></li>
        <li><a mat-mini-fab color="primary" class="ms-2 me-2" [matMenuTriggerFor]="profileMenu">
          <mat-icon class="m-0 mb-2">person</mat-icon>
        </a></li>
      </ul>
      <div class="mobile-hamburger col-auto navbar-right full-menu-container mt-1">
        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Open Menu">
          <mat-icon>menu</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <a mat-menu-item [routerLink]="['calendar']" id="navCalendarMenuItem">Calendar</a>
          <a mat-menu-item [routerLink]="['pendingevents']" id="navPendEventMenuItem">Pending Events</a>
          <a mat-menu-item [routerLink]="['register']" id="navRegisterUserItem">Register User</a>
          <!-- <a mat-menu-item href="#" id="navActionItemsMenuItem">Action Items</a> -->
          <a mat-menu-item [routerLink]="['view-notes']" id="navActionItemsMenuItem">View Notes</a>
          <a mat-menu-item href="#" id="navReportMenuItem">Report</a>
          <a mat-menu-item id="navProfileMenuItem" class="profile-menu-item" [matMenuTriggerFor]="profileMenu">
            <button mat-mini-fab color="primary" class="m-auto inline-mini-fab">
              <mat-icon class="m-0 mb-2">person</mat-icon>
            </button>
          </a>
        </mat-menu>
      </div>
      
      <mat-menu #profileMenu="matMenu" xPosition="after">
        <button mat-menu-item [routerLink]="['availability-slots']" *ngIf="!isAdmin" id="navAvailabilitySlot">Availability Slot</button>
        <button mat-menu-item [routerLink]="['updateprofile']">Edit Profile</button>
        <button mat-menu-item id="logoutMenuItem" (click)="logout()">Logout</button>
      </mat-menu>
    </div>
  </div>
</nav>