::ng-deep update-profile {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: auto;
    max-width: 900px;
}

.update-profile-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

::ng-deep .state-selection-profile {
    .mat-form-field {
        width: 100%;
    }
}