<div class="update-profile-container">
    <div class="mt-2 w-100 p-4">
        <div class="primary-color text-center">
            <h4>Update Default Profile</h4>
        </div>
        <div class="mt-3">
            <div>
                <form [formGroup]="updateProfileForm" *ngIf="areFiltersLoaded">
                    <div class="form-group row">
                        <mat-form-field appearance="outline" class="col-md-6 mt-2">
    
                            <mat-label>Full Name</mat-label>
                            <input matInput type="text" name="fullName" id="fullName"
                                formControlName="fullName" autofocus>
                            <mat-hint>
                                <app-validation-message [control]="updateProfileForm.controls['fullName']" [propertyLabel]="'Full Name'">
                                </app-validation-message>
                            </mat-hint>
    
                        </mat-form-field>

                        <mat-form-field appearance="outline" class="col-md-6 mt-2">
    
                            <mat-label>Bio</mat-label>
                            <textarea matInput name="bio" id="bio" formControlName="bio" rows="3"></textarea>
                            <mat-hint>
                                <app-validation-message [control]="updateProfileForm.controls['bio']" [propertyLabel]="'Bio'">
                                </app-validation-message>
                            </mat-hint>
    
                        </mat-form-field>
                    </div>
                    
                    <div class="form-group row">
                        <div class="col-md-6 mt-2">
    
                            <app-state-selection 
                                class="state-selection-profile" 
                                [form]="updateProfileForm" 
                                appearance="outline">
                            </app-state-selection>
                            <app-validation-message [control]="updateProfileForm.controls['state']" [propertyLabel]="'State'">
                            </app-validation-message>
    
                        </div>

                        <mat-form-field appearance="outline" class="col-md-6 mt-2" *ngIf="!isUserCounselor">
    
                            <mat-label>License Number</mat-label>
                            <input matInput type="text" name="license" id="license" formControlName="license">
                            <mat-hint>
                                <app-validation-message [control]="updateProfileForm.controls['license']" [propertyLabel]="'License'">
                                </app-validation-message>
                            </mat-hint>
    
                        </mat-form-field>
                        
                        <mat-form-field appearance="outline" class="col-md-6" *ngIf="!isUserCounselor">
            
                            <mat-label>License type</mat-label>
                            <mat-select formControlName="licenseType">
                                <mat-option *ngFor="let licenseType of licenseTypes" [value]="licenseType.id">
                                    {{licenseType.text}}
                                </mat-option>
                            </mat-select>
                            <mat-hint>
                                <app-validation-message [control]="updateProfileForm.controls['licenseType']" [propertyLabel]="'License type'">
                                </app-validation-message>
                            </mat-hint>
            
                        </mat-form-field>

                        <mat-form-field appearance="outline" class="col-md-6">
                
                            <mat-label>Specialty</mat-label>
                            <mat-chip-list #chipList>
                              <mat-chip class="mat-chip-selected"
                                *ngFor="let speciality of selectedSpecialties"
                                color="primary"
                                (removed)="remove(speciality, 'selectedSpecialties', 'speciality')">
                                {{speciality.text}}
                                <mat-icon matChipRemove>cancel</mat-icon>
                              </mat-chip>
                              <input matInput
                                #specialityInput
                                formControlName="speciality"
                                [matAutocomplete]="autoSpec"
                                [matChipInputFor]="chipList"
                                [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                                #triggerSpec="matAutocompleteTrigger" 
                                (change)="validateInput('speciality', 'selectedSpecialties')">
                              <input hidden>
                            </mat-chip-list>
                            <mat-autocomplete #autoSpec="matAutocomplete" (optionSelected)="selected($event, 'speciality', 'selectedSpecialties', specialityInput, triggerSpec)">
                              <mat-option *ngFor="let speciality of filteredSpecialties | async" [value]="speciality.text" [id]="speciality.id.toString()">
                                {{speciality.text}}
                              </mat-option>
                            </mat-autocomplete>
                            
                            <mat-hint>
                                <app-validation-message [control]="updateProfileForm.controls['speciality']" [propertyLabel]="'Speciality'">
                                </app-validation-message>
                            </mat-hint>
            
                        </mat-form-field>
                    </div>
                    

                    <div class="form-group row">
                        <mat-form-field appearance="outline" class="col-md-6">
                 
                            <mat-label>Languages</mat-label>
                            <mat-chip-list #chipListLanguage>
                              <mat-chip class="mat-chip-selected"
                                *ngFor="let language of selectedLanguages"
                                color="primary"
                                (removed)="remove(language, 'selectedLanguages', 'languages')">
                                {{language.text}}
                                <mat-icon matChipRemove>cancel</mat-icon>
                              </mat-chip>
                              <input matInput
                                #languageInput
                                formControlName="languages"
                                [matAutocomplete]="autoLanguage"
                                [matChipInputFor]="chipListLanguage"
                                [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                                #triggerLang="matAutocompleteTrigger" 
                                (change)="validateInput('language', 'selectedLanguages')">
                              <input hidden>
                            </mat-chip-list>
                            <mat-autocomplete #autoLanguage="matAutocomplete" 
                                (optionSelected)="selected($event, 'languages', 'selectedLanguages', languageInput, triggerLang)">
                              <mat-option *ngFor="let language of filteredLanguages | async" [value]="language.text" [id]="language.id.toString()">
                                {{language.text}}
                              </mat-option>
                            </mat-autocomplete>
                            
                            <mat-hint>
                                <app-validation-message [control]="updateProfileForm.controls['languages']" [propertyLabel]="'Languages'">
                                </app-validation-message>
                            </mat-hint>
            
                        </mat-form-field>

                        <mat-form-field appearance="outline" class="col-md-6">

                            <mat-label>Preferred Pronoun</mat-label>
                            <mat-select formControlName="pronoun">
                                <mat-option *ngFor="let pronoun of pronouns" [value]="pronoun.id">
                                    {{pronoun.text}}
                                </mat-option>
                            </mat-select>
                            <mat-hint>
                                <app-validation-message [control]="updateProfileForm.controls['pronoun']" [propertyLabel]="'Preferred pronoun'">
                                </app-validation-message>
                            </mat-hint>
            
                        </mat-form-field>
                    </div>
                    
                    <div class="row">
                        <div class="col">
                            <app-validation-summary [serverErrors]="serverErrors"></app-validation-summary>
                        </div>
                    </div>
                </form>
            </div>
            <div class="d-flex justify-content-center">
                <button mat-raised-button color="primary" type="button" id="updateProfile" (click)="onSubmit()">Update</button>
            </div>
        </div>
    </div>
</div>