<div class="update-wrapper h-100 vh-flex-center flex-column">
    <div class="client-container">
        <img src="../../../../../assets/images/CircleLogo.png" width="180" height="175" class="" alt="circle logo">
        <img src="../../../../../assets/images/humanestlogo.png" width="347" height="87" class="" alt="logo">
    </div>
    <div>
        <div class="text-center primary-color"><h4>Update Password</h4></div>
    </div>
    <div class="w-100 p-4 pt-0 form-container">
        <form [formGroup]="updatePasswordForm" (keyup.enter)="onSubmit()">
            <div class="form-group row">
                <mat-form-field appearance="outline" class="col mt-2">

                    <mat-label>New Password</mat-label>
                    <input matInput type="password" name="password" id="password" formControlName="password">
                    <mat-hint>
                        <app-validation-message [control]="updatePasswordForm.controls['password']" [propertyLabel]="'New Password'">
                        </app-validation-message>
                    </mat-hint>

                </mat-form-field>
            </div>
            <div class="form-group row">
                <mat-form-field appearance="outline" class="col mt-2">

                    <mat-label>Confirm Password</mat-label>
                    <input matInput type="password" name="confirmPassword" id="confirmPassword" formControlName="confirmPassword">
                    <mat-hint>
                        <app-validation-message [control]="updatePasswordForm.controls['confirmPassword']" [propertyLabel]="'Confirm Password'">
                        </app-validation-message>
                    </mat-hint>

                </mat-form-field>
            </div>
            <div class="row">
                <div class="col">
                    <app-validation-summary [serverErrors]="serverErrors"></app-validation-summary>
                </div>
            </div>
            <div class="text-center mt-3">
                <button mat-raised-button color="primary" type="button" id="updatePassword" (click)="onSubmit()">Update</button>
            </div>
        </form>
    </div>
</div>