.update-wrapper {
    min-height: 100vh;
    
    .client-container{
        width: 360px;
        margin: 0 auto;
        text-align: center;
        padding: 20px 0px;
    }

    .form-container {
        max-width: 400px;
    }
}