.recurrence-dialogue-container {
    display: inherit;
    min-width: 360px;
    padding-bottom: 24px;
    min-width: 400px;
    min-width: 50vh;

    .number-input.number-input {
        max-width: 48px;
    }

    .recurring-type {
        max-width: 75px;
    }
        
    .day-list {
        text-align: center;
        padding: 1px 0px;
        border-radius: 50%;
        cursor: pointer;
        width: 30px;
        margin: 3px;
        height: 30px;
        border: 1px solid var(--primary-color);

        &.active {
            background: var(--primary-color);
            color: var(--primary-contrast);
        }
    }

    .radio-extra-input {
        max-width: 120px;
        margin-left: 24px;
    }

    .mat-radio-button {
        height: 48px;
        display: flex;
        align-items: end;
    }

    .ends-section {
        label {
            position: relative;
            top: 20px;
        }
    }
}

::ng-deep app-custom-event-recurrence {
    display: block;

    .mat-dialog-actions {
        
    }
}