<h2 mat-dialog-title>Custom Recurrence</h2>
<mat-divider></mat-divider>
<mat-dialog-content class="recurrence-dialogue-container">
    <form [formGroup]="recurrenceForm">
        <div class="row vh-flex-center">
            <div class="col">
                <span class="col m-1 font-semi-bold">Repeat Every</span>
                <mat-form-field class="col number-input m-1 text-center">
                    <input matInput type="number" id="recurringRepeatEvery" name="recurringRepeatEvery" value="1"
                        min="1" formControlName="recurringRepeatEvery"
                        (change)="updateRecurringRepeatEveryText($event)" autofocus/>
                        <mat-error>Please enter valid number.</mat-error>
                </mat-form-field>
                <mat-form-field class="col m-1 recurring-type">
    
                    <mat-select formControlName="recurringRepeatEveryType" 
                        (selectionChange)="changeRecurringRepeatEveryType($event.source)">
                        <mat-option *ngFor="let recurringRepeatEvery of recurringRepeatEveryTypes"
                            [value]="recurringRepeatEvery.id">
                            {{recurringRepeatEvery.text}}
                        </mat-option>
                    </mat-select>

                </mat-form-field>
            </div>
        </div>
        <div class="row vh-flex-center" *ngIf="recurringRepeatEveryWeek">
            <div class="col">
                <span class="row m-1 font-semi-bold">Repeat on</span>
                <div class="row g-0">
                    <div *ngFor='let day of dayList' class='day-list font-semi-bold' [ngClass]='{"active": day.active}'
                        (click)='setActive(day)'>
                        {{day.text}}
                    </div>
                </div>
            </div>
        </div>
        <div class="row vh-flex-center" *ngIf="recurringRepeatEveryMonth">
            <mat-form-field class="col">
                
                <mat-select formControlName="recurringRepeatMonthly">
                    <mat-option [value]="reccurrenceMonthlyDateText" selected>{{reccurrenceMonthlyDateText}}</mat-option>
                    <mat-option [value]="reccurrenceMonthlyWeekdayText">{{reccurrenceMonthlyWeekdayText}}</mat-option>
                </mat-select>

            </mat-form-field>
        </div>
        <div class="row vh-flex-center">
            <div class="row mt-2">
                <div class="ends-section">
                    <label class="d-block font-semi-bold">Ends</label>
                    <mat-radio-group [(ngModel)]="endRadioValue" color="primary"
                        formControlName="recurringEndsOn" 
                        (change)="changeRecurringEndsOn($event)">
                      
                        <mat-radio-button class="row" value="Never">
                            <span class="col">Never</span>
                        </mat-radio-button>

                      <mat-radio-button class="row" value="On">
                        <span class="col">On</span>
                        <mat-form-field class="col radio-extra-input">
    
                            <input matInput [matDatepicker]="picker" name="recurringEndsOnDate"
                                id="recurringEndsOnDate" formControlName="recurringEndsOnDate"
                                min="{{minDate | date:'yyyy-MM-dd'}}" [disabled]="endRadioValue != 'On'">
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
    
                        </mat-form-field>
                      </mat-radio-button>
                      
                      <mat-radio-button class="row" value="After">
                        <span class="col">After</span>
                        <mat-form-field class="col radio-extra-input number-input text-center disabled">
                            <input matInput type="number" #occuranceCount
                                name="recurrenceEndsOnOccurrenceCount" value="1" min="1"
                                formControlName="recurrenceEndsOnOccurrenceCount" />
                        </mat-form-field>
                        <span>occurrence<ng-container *ngIf="occuranceCount.value != '1'">s</ng-container></span>
                      </mat-radio-button>

                    </mat-radio-group>
                </div>
            </div>
        </div>
    </form>
</mat-dialog-content>
<mat-divider></mat-divider>
<div mat-dialog-actions>
    <div class="action-btns m-auto">
        <button mat-raised-button color="accent" id="cancel"
            (click)="closeRecurrencePopUp()">
            Cancel
        </button>
        <button mat-raised-button color="primary" id="save"
            (click)="saveRecurrencePopUp()">
            Save
        </button>
    </div>
</div>