::ng-deep app-client-calendar {
    height: calc(100vh - 200px);
    display: block;
}

.event-info-container {
    .time-item {
        max-width: 24px;
    }

    .event-info-item {
        margin: 24px 0;
    }
}