<div>
    <div class="primary-color text-center">
        <h4 class="m-0">Calendar</h4>
    </div>
    <div class="row g-0 justify-content-center admin-registration">
        <div>
            <week-view-mobile-calendar [selectedDate]="currentDate"
                (dateChange)="onDateChange($event)">
            </week-view-mobile-calendar>
        </div>
    </div>
    <diV class="event-info-container pb-1">
        <div class="vh-flex-center fonr-semi-bold mt-3 warn-color" *ngIf="!filteredEventData.length">
            No events found!
        </div>
        <div *ngIf="filteredEventData.length">
            <div *ngFor="let dayEventObj of filteredEventData" @slideInOut>
                <div class="event-date-divider row g-0 mt-2" *ngIf="dayEventObj.events.length">
                    <mat-divider></mat-divider>
                    <div class="primary-bg-opacity font-semi-bold">
                        <span *ngIf="!isToday(dayEventObj.date)">
                            {{dayEventObj.date | date: 'EEEE, MMMM d'}}
                        </span>
                        <span *ngIf="isToday(dayEventObj.date)">
                            Today
                        </span>
                    </div>
                    <mat-divider></mat-divider>
                </div>
                <mat-card *ngFor="let event of dayEventObj.events" class="event-info-item">
                    <mat-card-content class="row d-flex">
                        
                        <div class="col-auto vh-flex-center mr-3">
                            <div class="font-semi-bold time-item">
                                {{getTime(event.dateTime)}}
                            </div>
                        </div>
                        <div class="col text-start">
                            <h6>
                                
                                {{getEventTypeText(event.eventType, event.therapistName)}}
                            </h6>
                            <div>
                                {{event.description}}
                            </div>
                        </div>
                        <div class="col-auto vh-flex-center p-0" *ngIf="event.eventType > 1">
                            <div>
                                <mat-checkbox color="primary" [checked]="event.isAttendee" (change)="subscribeEvent($event, event)"></mat-checkbox>
                            </div>
                        </div>
    
                    </mat-card-content>
                </mat-card>  
            </div>
                      
        </div>
    </diV>
</div>