.pending-event-container {
    .mat-header-cell, .mat-cell {
        justify-content: center;
    }
    .mat-header-cell {
        font-size: 0.9em;
        font-weight: 500;
    }
    .clickable-text {
        text-decoration: none;
        cursor: pointer;
    }
}