<div class="p-3 pending-event-container">
    <div class="primary-color text-center">
        <h4>Pending Event Approvals</h4>
    </div>
    <div class="mt-3 row g-0 w-100 justify-content-center admin-calendar" *ngIf="eventData?.length == 0">
        There are no pending event approvals.
    </div>
    <div class="row g-0 w-100 justify-content-center admin-calendar" *ngIf="eventData?.length">
        <mat-table [dataSource]="eventData" class="mat-elevation-z8 mt-3">
            <!-- Title Column -->
            <ng-container matColumnDef="title">
                <mat-header-cell *matHeaderCellDef> Event Title </mat-header-cell>
                <mat-cell *matCellDef="let event"> 
                    <span class="clickable-text primary-color font-semi-bold" (click)="showEventInformation(event)">
                        {{event.title}}
                    </span>
                </mat-cell>
            </ng-container>
          
            <!-- Action Column -->
            <ng-container matColumnDef="action">
                <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
                <mat-cell *matCellDef="let event" class="event-action-btns"> 
                    <button type="button" mat-icon-button color="primary" 
                    matTooltip="Approve" matTooltipPosition="left"
                    (click)="updateEvent(true, event)">
                        <mat-icon>check_circle</mat-icon>
                    </button>
                    <button type="button" mat-icon-button color="warn" 
                    matTooltip="Deny" matTooltipPosition="right"
                    (click)="updateEvent(false, event)">
                        <mat-icon>cancel</mat-icon>
                    </button>
                </mat-cell>
            </ng-container>
          
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
        
        <div class="row mt-2">
            <div class="col">
                <app-validation-summary [serverErrors]="serverErrors"></app-validation-summary>
            </div>
        </div>
    </div>
</div>