<div class="mt-2">
    <div class="primary-color text-center">
        <h4>Create New</h4>
    </div>
    <div class="row g-0 justify-content-center admin-registration">
        <mat-tab-group #userRoleTabs mat-align-tabs="center" color="primary" backgroundColor="primary"
            (selectedIndexChange)="setRole(userRoleTabs.selectedIndex == 0 ? 'Therapist' : userRoleTabs.selectedIndex == 1 ? 'Counselor' : 'Admin')">

            <mat-tab label="Therapist">

                <ng-template [ngTemplateOutlet]="formRef"></ng-template>

            </mat-tab>
            <mat-tab label="Mental Health Worker">

                <ng-template [ngTemplateOutlet]="formRef"></ng-template>

            </mat-tab>
            <mat-tab label="Admin">

                <ng-template [ngTemplateOutlet]="formRef"></ng-template>

            </mat-tab>
        </mat-tab-group>
    </div>
</div>

<ng-template #formRef>
    <div class="w-100 p-4 mt-5 row g-0 vh-flex-center">
        <form [formGroup]="registrationForm" (keyup.enter)="onSubmit()" class="registration-form">
            <div class="form-group row">
                <mat-form-field appearance="outline" class="col mt-2">

                    <mat-label>Name</mat-label>
                    <input matInput type="text" name="fullName" id="fullName" formControlName="fullName" autofocus>
                    <mat-hint>
                        <app-validation-message [control]="registrationForm.controls['fullName']"
                            [propertyLabel]="'Full name'">
                        </app-validation-message>
                    </mat-hint>

                </mat-form-field>
            </div>
            <div class="form-group row">
                <mat-form-field appearance="outline" class="col mt-3">

                    <mat-label>Email</mat-label>
                    <input matInput type="email" name="emailAddress" id="emailAddress" formControlName="emailAddress">
                    <mat-hint>
                        <app-validation-message [control]="registrationForm.controls['emailAddress']"
                            [propertyLabel]="'humanest email'">
                        </app-validation-message>
                    </mat-hint>

                </mat-form-field>
            </div>
            <div class="form-group text-center mt-3">
                <button type="button" mat-raised-button color="primary" (click)="onSubmit()">
                    Create Account
                </button>
            </div>
        </form>
    </div>
</ng-template>