::ng-deep .schedule-session-form .radio-container {
    display: flex;
    max-width: 400px;
    margin: auto;
    flex-direction: column;

    .mat-radio-label {
        display: flex;
        text-align: start;
        max-width: 228px;
        margin: auto;
    }

    .mat-radio-label-content {
        width: 100%;
        padding-left: 16px;

        .mat-form-field {
            width: 100%;
        }
    }
}