<div>
  <div>
    <h4 class="primary-color mb-4">Schedule a Session</h4>
  </div>
  <div>
    <form [formGroup]="scheduleSessionForm" (keyup.enter)="onSubmit()" class="schedule-session-form">
      <mat-radio-group class="radio-container" formControlName="sessionType" color="primary">
        <mat-radio-button value="1" [checked]="true">First Available Appointment</mat-radio-button>
        <mat-radio-button value="2">Choose a counselor</mat-radio-button>
        <mat-hint>
          <app-validation-message [control]="scheduleSessionForm.controls['therapistCounselor']"
            [propertyLabel]="'Therapist/Counselor'">
          </app-validation-message>
        </mat-hint>
      </mat-radio-group>
    </form>
  </div>
  <div class="row">
    <div class="col schedule-session-errors">
      <app-validation-summary class="vh-flex-center mt-2" [serverErrors]="serverErrors"></app-validation-summary>
    </div>
  </div>
  <div class="row">
    <div class="col mt-2">
      <button mat-raised-button color="primary" (click)="onSubmit()">Proceed</button>
    </div>
  </div>
</div>