<div class="update-profile-container">
    <div class="w-100 p-4 pt-1">
        <div class="primary-color text-center">
            <h4>Email Confirmation</h4>
        </div>
        <div class="mt-3">
            <div>
                <div *ngIf="showEmailAlreadySent" class="alert alert-success" role="alert">
                    Verification link is sent to your registered email address. Please validated the account using the verification link.<br>
                    <a href="javascript:;" id="resendConfirmationEmail" (click)="resendConfirmationEmail()" tabindex="0">Resend verification link </a>
                </div>
                <div *ngIf="showError" class="alert alert-danger" role="alert">
                    <app-validation-summary [serverErrors]="serverErrors"></app-validation-summary>
                </div>
                <div *ngIf="showSuccess" class="alert alert-success" role="alert">
                    Your email has been successfully confirmed. Please <a id="login" [routerLink]="['/login']" tabindex="0"> click here to log in. </a>
                </div>
            </div>
        </div>
    </div>
</div>