<div>
    <div class="text-center">
        <h4 class="primary-color">Counselor results</h4>
        <span *ngIf="!noRecords">Click on a profile to see more details or book from here</span>
    </div>
    <div class="row">
        <div class="col">
            <app-validation-summary [serverErrors]="serverErrors"></app-validation-summary>
        </div>
    </div>
    <div class="row g-0 mt-3 w-100 justify-content-center" *ngIf="noRecords">
        <div class="mt-2 warn-color">
            <div>
                No matches found. Please update your search criteria.
            </div>
        </div>
        <div class="mt-4 justify-content-center">
            <button mat-raised-button color="primary" (click)="goBack()">Go Back</button>
        </div>
    </div>
    <div class="row g-0 w-100 justify-content-center" *ngIf="!noRecords">
        <div class="col mt-3" *ngFor="let data of counselorList; let i = index">
            <div class="w-100">
                <div class="img-wrapper">
                    <!-- <img src="{{data.imageUrl}}"/> -->
                    <img src="{{'https://picsum.photos/200/300?random=' + (i + 1)}}" alt="profile" />    
                </div>
                <div class="text-center mt-2">
                    <h5 class="primary-color">
                        <a href="javascript:;" id="" (click)="navigateTherapistDetail(data.id)" tabindex="0">{{data.therapistName}}, {{data.licenseType}}</a>
                    </h5>
                </div>
                
                <div class="col">
                    <button mat-raised-button color="primary" (click)="onBooking(data.id)">Book with {{data.therapistName}}</button>
                </div>
            </div>
        </div>
    </div>
</div>
