<div>
    <img src="../../../../../assets/images/humanestlogo.png" width="347" height="87" class="" alt="logo">
    <div class="initial-container">
        <p class="info-content">Great! We’ll need some information from you to finish setting up your membership.</p>
        <div class="row">
            <div class="col">
                <form [formGroup]="clientProfileForm" (keyup.enter)="onSubmit()">
                    <div class="form-group row">
                        <mat-form-field appearance="outline" class="col">
    
                            <mat-label>First Name</mat-label>
                            <input matInput type="text" name="firstName" id="firstName" formControlName="firstName" autofocus>
                            <mat-hint>
                                <app-validation-message [control]="clientProfileForm.controls['firstName']" [propertyLabel]="'First Name'">
                                </app-validation-message>
                            </mat-hint>
    
                        </mat-form-field>
                    </div>
                    <div class="form-group row">
                        <mat-form-field appearance="outline" class="col">
    
                            <mat-label>Last Name</mat-label>
                            <input matInput type="text" name="lastName" id="lastName" formControlName="lastName">
                            <mat-hint>
                                <app-validation-message [control]="clientProfileForm.controls['lastName']" [propertyLabel]="'Last Name'">
                                </app-validation-message>
                            </mat-hint>
    
                        </mat-form-field>
                    </div>
                    <div class="form-group row">
                        <mat-form-field appearance="outline" class="col">
    
                            <mat-label>Date of Birth</mat-label>
                            <input matInput [matDatepicker]="picker" name="dob" id="dob" formControlName="dob" [max]="today">
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                            <mat-hint>
                                <app-validation-message [control]="clientProfileForm.controls['dob']" [propertyLabel]="'Date of Birth'">
                                </app-validation-message>
                            </mat-hint>
    
                        </mat-form-field>
                    </div>
                    <div class="form-group row">
                        <div class="col mb-3 mt-2 checkbox-input">
    
                            <mat-checkbox class="ml-3" color="primary"
                                id="crisisConsent" name="crisisConsent" formControlName="crisisConsent"
                                [(ngModel)]="isCrisisConsent">
                                I am not in crisis and do not currently have plans to hurt
                                    myself or
                                    others.
                            </mat-checkbox>
    
                            <app-validation-message [control]="clientProfileForm.controls['crisisConsent']"
                                [propertyLabel]="'Crisis Consent'">
                            </app-validation-message>
                        </div>
                    </div>
                </form>
            </div>
            <div class="crisis-info">
                <div>
                    <p>humanest is not a crisis resource. If you are experiencing a crisis, please contact 911.<br>
                        You can also use the following resources to get immediate help:
                        <a
                            href="https://suicidepreventionlifeline.org/">https://suicidepreventionlifeline.org/</a><br><a
                            href="https://www.crisistextline.org/">https://www.crisistextline.org/</a><br>
                        Additional resources can be found here: <br><a
                            href="https://humanestcare.com/emergency">https://humanestcare.com/emergency</a>
                    </p>
                </div>
                <div class="row">
                    <div class="col">
                        <app-validation-summary [serverErrors]="serverErrors"></app-validation-summary>
                    </div>
                </div>
            </div>
            <div class="mt-4">
                <button mat-raised-button color="primary" type="button" id="continue" (click)="onSubmit()">Continue</button>
            </div>
        </div>
    </div>
</div>